@mixin animacion($prop: all) {
	transition: $prop 1s ease-in;
	-webkit-transition: $prop 1s ease-in;
	-moz-transition: $prop 1s ease-in; 	
	-o-transition: $prop 1s ease-in; 	

}

@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

$verdeoscuro: rgba(255,255,255,0.3);
$naranjaclaro: #fdd3ce;
$navBar: #f87060;
$grisclaro: #f2fff8;
$fondo: #555;
$carousel: #dedede;

