$verdeadams: #133329;
$grisadams: #888;
$verdedisabled: rgba(255,255,255,0.5);
$grisclaro: #dedede; 
$naranjaadams:#F47920;
$fondo: #555;
$pestanaHeight: 60px;
$grismedio: #9A9A9A;
$lightestgrey: #F5F5F5;
$detailgreen: #39B54A;
$darkest: #2C2C2C;