@mixin animacion {
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out; 	
}

$verdeoscuro: rgba(255,255,255,0.3);
$navBar: #f87060;
$grisclaro: #f2fff8;
$fondo: #555;
$carousel: #dedede;

