
@media print {


  @page {
    margin: 1cm;

  }

  .pageContainer {
    margin: 0 auto;
    /*border: 0.7px solid orange;*/
    page-break-inside: avoid;

    display: flex;
    align-items: center;
    justify-content: space-around;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .pwc_slide {
  }

  .drawBorders {
    border: 1px solid black;
  }

    .comment_box {
        /*border: 1px dotted dimgrey;*/
    }

    .not_show {
      display: none !important;
    }


  .slide169 {

    page-break-inside: avoid;

    display: flex;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .slide43 {

    page-break-inside: avoid;

    display: flex;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .upOnPage {
    page-break-before: always;
  }


  .breakPage {
    page-break-after: always;

  }

  .pageEnd {
    page-break-after: always;
  }

  .bigContainer{
    /*border: 1px solid #70214e;*/
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;

    page-break-after: always;
  }


  #canvas {
    overflow-y: visible;
  }

  .otherDoc {
    /*border: 1px solid #cf1629;*/

    margin: 0 auto;
    page-break-before: always;
    page-break-after: always;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .rotate {
    -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(90deg);      /* to support IE 9 */
    transform: rotate(90deg);
  }

  .importedDoc {

    margin: 0 auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .twoColumn{
    column-count: 2;
    font-size: 50%;
    column-fill: auto;
  }

  .navBar {
    display: none;
  }

  .tooltip.top {
    display: none;
  }

  #navButtonTooltip{
    display: none;
  }

  #root {
    display: none;
  }
  .pageModal{
    display: none;
  }

  .modal-dialog{
    display: none;
  }

  *[role="dialog"]{
    display: none;
  }

}
