@media print {
  /*-webkit-print-color-adjust: exact;*/

  @page {
    /*margin: 1cm;*/
  }

  .pageContainer {
    margin: 0 auto;
    /*border: 0.7px solid orange;*/
    page-break-inside: avoid;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .pwc_slide {
  }

  .drawBorders {
    border: 1px solid black;
  }

  .drawTransparentBorders{
    border: 1px solid transparent;
  }

  .comment_box {
    /*border: 1px dotted dimgrey;*/
  }

  .not_show {
    display: none !important;
  }


  .slide169 {

    page-break-inside: avoid;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .slide43 {

    page-break-inside: avoid;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .upOnPage {
    page-break-before: always;
  }


  .breakPage {
    page-break-after: always;

  }

  .pageEnd {
    page-break-after: always;
  }

  .bigContainer{
    /*border: 1px solid #70214e;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-display: inline;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    page-break-after: always;
  }


  #canvas, .canvasClass {
    overflow-y: visible;
  }

  .otherDoc {
    /*border: 1px solid #cf1629;*/

    margin: 0 auto;
    page-break-before: always;
    page-break-after: always;


    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .rotate {
    -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(90deg);      /* to support IE 9 */
    transform: rotate(90deg);
  }

  .importedDoc {

    margin: 0 auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .twoColumn{
    -webkit-column-count: 2;
    column-count: 2;
    font-size: 70%;
    -webkit-column-fill: auto;
    column-fill: auto;
  }

  .navBar {
    display: none;
  }

  .tooltip.top {
    display: none;
  }

  #navButtonTooltip{
    display: none;
  }

  #root {
    display: none;
  }
  .pageModal{
    display: none;
  }

  .modal-dialog{
    display: none;
  }

  *[role="dialog"]{
    display: none;
  }

  table{
    border-collapse: collapse;
  }

  .commentLine {
    height: 45px;
    border-bottom: 1px solid black;
  }

  .firstLine{
    border-top: 1px solid black;
  }

  .canvasSliClass p, .canvasSliClass .p_class, #clone p, #clone .p_class{
    page-break-inside: auto;
  }

  .submitButton{
    display: none;
  }


  #contained_maincontent{
    visibility: visible !important;
  }

  .containedCanvasClass{
    background-color: transparent;
  }

  .cvBackButton{
    display: none;
  }

}
