
@import 'variables';
@import 'general/mixins/mixins';
@import 'general/tipography/tipo';
@import 'components/canvas';
@import 'components/carrouselList';
@import 'components/navBar';
@import 'components/pluginRibbon';
@import 'components/pluginToolbar';
@import 'components/visor';
@import 'components/colorPicker';
@import 'components/plugins/pills';
@import 'events/draganddrop';
@import 'general/elements/btn';
@import 'general/elements/scrollbar';
@import 'general/elements/thumbnails';

 

@include selection {
    color: white;
    background: $verdeadams;
}

#app{
	margin:0;
}

#colLeft, #colRight, #ribbon, #insideribbon, #tools, #indice{
	 @include animacion(width, 0.3s);

    min-height: 0;

}
#canvasRow, #ribbonRow{
    @include animacion(height, 0.3s);
    >div{
        @include animacion(height, 0.3s);
    }
}

.full{
	width:100% !important;
    @include animacion(height, 0.3s);
}

 
.hidden{
    visibility: hidden;
}