
@import 'variables';
@import 'components/canvas';
@import 'components/carrouselList';
@import 'components/navBar';
@import 'components/ribbon';
@import 'components/toolbox';
@import 'components/pluginToolbar';
@import 'components/visor';
@import 'components/colorPicker';
@import 'components/plugins/pills';
@import 'events/draganddrop';
@import 'general/elements/btn';
@import 'general/elements/scrollbar';
@import 'general/elements/thumbnails';
@import 'general/mixins/mixins';
@import 'general/tipography/tipo';
  
 

@include selection {
    color: white;
    background: $verdeadams;
}

#app{
	margin:0;
}

#colLeft, #colRight, #ribbon, #insideribbon,#tools, #indice{
	transition: width 0.3s ease-in;
    min-height: 0;

}
#canvasRow, #ribbonRow{
    transition: height 0.3s ease-in-out;
    >div{
         transition: height 0.3s ease-in-out;
    }
}

.full{
	width:100% !important;
	transition: width 0.3s ease-in;}

 
.hidden{
    visibility: hidden;
}