@import "general/_variables.scss";
@import "general/_cke_rewrite.scss";
@import "general/_ck_styles.scss";

@import 'general/mixins/mixins';

@import 'general/tipography/tipo';

@import 'general/elements/btn';
@import 'general/elements/scrollbar';

@import 'components/serverModal';
@import 'components/colorPicker';
@import 'components/advancedPopover';

@import 'events/draganddrop';
@import 'events/overlay';
$material-font-path:  '../node_modules/material-design-icons-font/iconfont/';
@import '../node_modules/material-design-icons-font/iconfont/material-icons';

@include selection {
    color: white;
    background: $brand_green;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Transition for hiding toolbars and navbars
#colRight, #colLeft {
    @include animacion(max-width, 0.4s);
    @include animacion(all, 0.2s);

}
*/
/*Left column with index*/
#colLeft{
    position: relative;
    float: left;
    height: 100%;
    z-index:1;
}
/*Right column with ribbon and canvas */

body{
    font-family: 'Ubuntu', 'Helvetica Neue', 'Arial';
}


#colRight{
    overflow:hidden;

    /*Canvas row and ribbon row*/
    #canvasRow, #ribbonRow{
        @include animacion(height, 0.4s);
        >div{
            @include animacion(height, 0.4s);
            @include animacion(width, 0.4s);
        }
    }
    #canvas, #maincontent, #canvasRow, .canvasClass {
        z-index:0 ;
    }
}

.full{
    width:100% !important;
    @include animacion(height, 0.4s);
}

/* 100 % */
.width100{
    width: 100%;
}
.height100{
    height: 100%;
}

/*Displays*/
.disp_in_block{
    display: inline-block;
}
.disp_block{
    display: block;
}
.disp_initial{
    display: initial;
}
.disp_table{
    display: table;
}
.disp_table_cell{
    display: table-cell;
}
.disp_none{
    display: none;
}

/*Visibility*/
.vis_show{
    visibility: visible;
}
.vis_hide{
    visibility: hidden;
}

/*Floats*/
.float_left{
    float: left;
}
.float_right{
    float: right;
}

/*Cursor pointer*/
button, i{
    //cursor: pointer;
}

/*Positions*/
.pos_relative{
    position: relative;
}
.pos_absolute{
    position: absolute;
}
.top0{top: 0}
.right0{right: 0}
.bottom0{bottom: 0}
.left0{left: 0}

/*Clear*/
.clear_both{
    clear: both;
}

/*Overflow*/
.over_hidden{
    overflow: hidden;
}
.over_hidden-x{
    overflow-x: hidden;
}
.over_hidden-y{
    overflow-y: hidden;
}

/*Vertical align*/
.vert_al_top{
    vertical-align: top;
}
.vert_al_cen{
    vertical-align: center;
}
.vert_al_bot{
    vertical-align: bottom;
}

/* margins */
.no_margins {
    margin: 0;
    font-size: 1.8em;
    //color: $blueprimary;
}
/* alert */
.alert{
  border-radius: 0;
}
.alert-info{
  background-color: $grisclaro;
  border-color: $grismedio;
  color: $grisoscuro;
}

.savingLabel{
    position: fixed;
    right: 0;
    top: 0;
    color: $blueprimary;
    padding: 0px 18px;
    text-align: center;
    background-color: white;
    z-index: 999;

}
*:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

*:-ms-fullscreen, *:fullscreen {
    position:fixed;
    margin: 0;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
}

.fileInput {
    width:100%;
}

body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    textarea {
        user-select: text;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
    }
}
.alert-warning {
    font-size: 14px;
    margin-right: 5px;
    color: yellow;
    background: transparent;
}

body {
    overflow:hidden;
}

.radio {
    position: relative;
    line-height: 1.7em;
    margin: 5px 0;
    input[type="radio"]{
        margin-left: -25px;
        margin-right: -25px;
    }
}

.close {
    font-size: 32px;
    font-weight: 500;
    line-height: 27px;
}

.modalExiting {
    transition: all 500ms ease-in;
    transform: scale(0.1);
}

a.toggle-switch---switch---3EchW {
    margin-right: 10px;
}
.toggle-switch---switch---3EchW.toggle-switch---checked---3aC9B .toggle-switch---toggle---mncCu {
    border-color: $blueprimary; //rgb(95, 204, 199);
    background-color: $blueprimary; //rgb(95, 204, 199);
}

input[type="radio"]{
    background: none;
}

.material-icons.correct {
    font-size: 1.7em;
}



.setting-title {
    color: $blueprimary !important;
    font-weight: bold;
}
.print-settings-explanation {
    margin-left: 15px;
}
.material-icons.correct {
    font-size: 1.7em;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

//transition code
//-------------------------------

.enter {
    opacity: 0.01;
}

.enter.enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;

}

.leave {
    opacity: 1;
}

.leave.leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
.appear {
    opacity: 0.01;
}

.appear.appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.errorView{
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid $blueprimary;
    background-color: #262626;
    color: $blueprimary;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d3Options, .d3Axes{
    padding-left: 0.15em;
}
.form-group div p{
    font-weight: bold;
}
.svgContainer{
    padding: 0px;
    position: fixed;
    //right: 0.15em;
    z-index: 10;
}

.clearCol{
    color: #bbb;
    text-align: center;
    cursor: pointer;
}
.clearRow{
    color: white;
    position: absolute;
    right: 2.6em;
    cursor: pointer;
    background-color: gray;
    padding: 0.2em;
    line-height: 1.2em;
}

.pointerEventsEnabled {
    .dropableRichZone {
        z-index: -1;
    }
    img {
        pointer-events: all !important;
    }
    .draggableImage {
        pointer-events: all !important;
    }
}

.pointerEventsEnabled .virtualMap {
    pointer-events: all !important ;
    touch-action: manipulation !important;
}


.wholebox.selectedBox .textAreaQuiz {
    pointer-events: none;
}
#visorAppContent .textAreaQuiz {
    pointer-events: all;
}
#visorAppContent .virtualMap {
    pointer-events: all !important;
}
.dropableRichZone.rich_overlay  {
    pointer-events: all !important;
}

// React-joyride
.__floater {
  z-index: 9999 !important;
  border-radius: 0 !important;
  &>div {
    border-radius: 0 !important;
  }
  &>div>div {
    border-radius: 0px !important;
  }
  .step_text{
    text-align: left;
    color: #999;
  }
  button {
    border-radius: 0px !important;
  }
}


// EditorBox clone
#clone {
  text-align: center;
}

// Do not rotate elements while rotating boxes
.norotate {
  -webkit-transform: rotate(0deg) !important; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(0deg) !important;  /* IE 9 */
          transform: rotate(0deg) !important; /* IE 10, Fx 16+, Op 12.1+ */
}


// MIGHT BE USED BY VISOR
/*Ediphy Box*/
.boxStyle{
    width: 100%;
    height: 100%;
    line-height: normal;
}

.boxStyle {
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  pre, pre * {
    word-break: break-all !important;
    white-space: pre-wrap;
  }
}

@supports (-ms-ime-align:auto) {
 .boxStyle {
    word-break: break-all;
  }
}

// MIGHT BE USED BY VISOR
.editorBoxSortableContainer{
    min-height: 70px;
    text-align: center;
    line-height: 100%;
    box-sizing: border-box;
    position: relative;
}

// MIGHT BE USED BY VISOR
.canvasClass, .containedCanvasClass , #canvas, #containedCanvas{
  height: 100%;
  overflow-y: auto;
  width: calc(100% - 40px);
  background-color: #9a9a9a;
}

// NECESSARY FOR VISOR
.selectedBox.wholebox .markeditor * {
  pointer-events: all !important;
}

