@import "general/_variables.scss";
@import "general/_cke_rewrite.scss";
@import "general/_ck_styles.scss";

@import 'general/mixins/mixins';

@import 'general/tipography/tipo';

@import 'general/elements/btn';
@import 'general/elements/scrollbar';

@import 'components/serverModal';
@import 'components/colorPicker';
@import 'components/pageModal';
@import 'components/advancedPopover';

@import 'events/draganddrop';
@import 'events/overlay';
$material-font-path:  '../node_modules/material-design-icons-font/iconfont/';
@import '../node_modules/material-design-icons-font/iconfont/material-icons';

@include selection {
    color: white;
    background: $brand_green;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Transition for hiding toolbars and navbars
#colRight, #colLeft {
    @include animacion(max-width, 0.4s);
    @include animacion(all, 0.2s);

}
*/
/*Left column with index*/
#colLeft{
    position: relative;
    float: left;
    height: 100%;
    z-index:1;
}
/*Right column with ribbon and canvas */


#colRight{
    overflow:hidden;

    /*Canvas row and ribbon row*/
    #canvasRow, #ribbonRow{
        @include animacion(height, 0.4s);
        >div{
            @include animacion(height, 0.4s);
            @include animacion(width, 0.4s);
        }
    }

    #canvas, #maincontent, #canvasRow {
        z-index:0 ;
    }
}

.full{
    width:100% !important;
    @include animacion(height, 0.4s);
}

/* 100 % */
.width100{
    width: 100%;
}
.height100{
    height: 100%;
}

/*Displays*/
.disp_in_block{
    display: inline-block;
}
.disp_block{
    display: block;
}
.disp_initial{
    display: initial;
}
.disp_table{
    display: table;
}
.disp_table_cell{
    display: table-cell;
}
.disp_none{
    display: none;
}

/*Visibility*/
.vis_show{
    visibility: visible;
}
.vis_hide{
    visibility: hidden;
}

/*Floats*/
.float_left{
    float: left;
}
.float_right{
    float: right;
}

/*Cursor pointer*/
button, i{
    //cursor: pointer;
}

/*Positions*/
.pos_relative{
    position: relative;
}
.pos_absolute{
    position: absolute;
}
.top0{top: 0}
.right0{right: 0}
.bottom0{bottom: 0}
.left0{left: 0}

/*Clear*/
.clear_both{
    clear: both;
}

/*Overflow*/
.over_hidden{
    overflow: hidden;
}
.over_hidden-x{
    overflow-x: hidden;
}
.over_hidden-y{
    overflow-y: hidden;
}

/*Vertical align*/
.vert_al_top{
    vertical-align: top;
}
.vert_al_cen{
    vertical-align: center;
}
.vert_al_bot{
    vertical-align: bottom;
}

/* margins */
.no_margins {
    margin: 0;
    font-size: 1.8em;
    color: $blueprimary;
}
/* alert */
.alert{
  border-radius: 0;
}
.alert-info{
  background-color: $grisclaro;
  border-color: $grismedio;
  color: $grisoscuro;
}

.savingLabel{
    position: fixed;
    right: 0;
    top: 0;
    color: $blueprimary;
    padding: 0px 18px;
    text-align: center;
    background-color: white;
    z-index: 999;

}
*:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

*:-ms-fullscreen, *:fullscreen {
    position:fixed;
    margin: 0;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
}

.fileInput {
    width:100%;
}

body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-selectelect: none;

    textarea {
        user-select: text;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-selectelect: text;
    }
}
.alert-warning {
    font-size: 14px;
    margin-right: 5px;
    color: yellow;
    background: transparent;
}

body {
    overflow:hidden;
}

.radio {
    position: relative;
    display: inline-block;
    line-height: 1.7em;
    margin: 5px 0;
    input[type="radio"]{
        margin-left: -25px;
    }
}

.close {
    font-size: 32px;
    font-weight: 500;
    line-height: 27px;
}


.__floater {
    z-index: 9999 !important;
}