.catalogImage {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 160px;
    min-width: 50px;
    //background-image: url('https://fedora.phaidra.univie.ac.at/fedora/get/o:282078/bdef:ImageManipulator/boxImage?BOX=600&FORMAT=jpg');
    //background-size: 160px 160px;
    border: solid transparent 3px;
    &.catalogImageSelected {
        border: solid #17CFC8 3px;
    }
}
