@import "../../../sass/general/_variables.scss";


.gcModalBody {
	position: relative;
	top: -1px;
	width: 100%;
	height:97%; 
	padding: 0px;
	background-color: white;
	overflow-y: auto;
	.form-group {
		/* padding:15px;
		border-radius: 5px;
		background: #eee; */
	}
	.advanced-block{
      background-color: $lightestgrey;
	}
}

//tags
div.ReactTags__selected span.ReactTags__tag{
  border-radius: 0 !important;
  color: white !important;
  background-color: $blueprimary !important;
  border: 0 !important;
  height: auto !important;
  padding: 4px 8px !important;
}
div.ReactTags__selected a.ReactTags__remove{
  color: white !important;
  opacity: 0.5 !important;
  &:hover{
    opacity: 1 !important;
    text-decoration: none !important;
  }
}
div.ReactTags__tagInput{
  width: 100% !important;
}


.inputGroup {
	display:inline-table;
	margin-right: 10px;
	width:30%;
}

.miniIcon .material-icons{
	font-size: 18px;
	vertical-align: middle;
}

#descTA textarea{
    resize: none !important;
}

