@import "../../../../sass/general/_variables.scss";

.richMarksModal{
  .modal-body{
    .row{
      margin: 5px 0 10px;
      .col-md-2{
        text-align: right;
      }
      textarea{
        height: 120px;
        width: 350px;
        margin-bottom: 15px;
      }
    }
    .control-label {
      color: #444 !important;
    }
  }
}
.colorPanel.rc-color-picker-panel {
  border-radius: 0%;
  box-shadow: none;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  .rc-color-picker-panel-board-hsv {
    height: 50px;
  }
  .rc-color-picker-panel-inner {
    border-radius: 0px;
    box-shadow: none;
  }
  .rc-color-picker-panel-board-handler {
    border-radius: 0px;
  }
  .rc-color-picker-panel-ribbon {
    border-radius: 0px;
  }
  .rc-color-picker-panel-preview {
    span {
      border-radius: 0px;
    }
    input {
      pointer-events:none;
    }
  }
}
.typeSelector{
  display: flex;
  align-items: center;
  .templateSettingMarks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    height: 34px;
    width: 34px;
    border: 0;
    background-color: transparent;
    color: $blueprimary;
    padding: 0;
    outline: none;
    transition: 0.2s all ease-in;
    &:active {
      background-color: transparent !important;
      color: $blueprimary;
      border: none;
      box-shadow: none !important;
    }
    &:hover {
      transform: rotate(90deg);
    }
  }
}
