*{
    //font-family: 'Ubuntu', sans-serif;
    outline:none !important;
}

.canvasSliClass, #clone {
    h1, .h1, .h1_class {
        font-size: 2.5em;
        line-height: 1;
        margin: 0;
    }
    h2, .h2, .h2_class {
        //font-size: 2.3em;
        line-height: 1;
        margin: 0;
    }
    h3, .h3, .h3_class {
        font-size: 2em;
        line-height: 1;
        margin: 0;
    }
    h4, .h4, .h4_class {
        font-size: 1.8em;
        line-height: 1;
        margin: 0;
    }
    h5, .h5, .h5_class {
        font-size: 1.5em;
        line-height: 1;
        margin: 0;
    }
    h6, .h6, .h6_class {
        font-size: 1.2em;
        line-height: 1;
        margin: 0;
    }
    p, .p_class {
        font-size: 1em;
        line-height: 1;
        margin: 0;
    }
    pre{
        font-size: 1em;
        line-height: 1;
        padding: 0.7em;

    }
    blockquote {
        padding: 0.8em 1.2em;
        margin: 0 0 1.2em;
        font-size: 1.15em;
        border-left: 0.32em solid #eee;
        line-height: 1;

    }
    ul, ol {
        margin-bottom: 0.8em;
        line-height: 1;

    }
}
