@import "../../../sass/general/_variables.scss";


#canvas {
  height: 100%;
  overflow-y: auto;
  padding: 10px 8px 8px 8px;
  width: calc(100% - 40px);
  background-color: #555;
}

.scrollcontainer, .outter{
  width: 100%;
  height: 100%;
}

.scrollcontainer{
  display: table;
}

.outter {
  display: table-row;
}

.margin-left{
  margin-left: 15px !important;
}

.innercanvas {
  height: 100%;
  background-color: white;
}

.outter > .sli {
  padding-bottom: 1%;
}

.sli, .doc{
  height: 100%;
  background-color: white;
  overflow: hidden;
}
.sli {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
}

.doc{
  position: relative;
}

.slide_air{
  width: 100%;
  padding-bottom: calc(56.25% - 5%); /* 16:9 */
  background-color: white;
  position: relative;
}
.doc_air{
  height: 100%;
  overflow: hidden;
  z-index: 0;
  visibility: visible;
  background-color: white;
  margin: 0px;
  position: relative;
  padding: 0 20px;
}

.buttonTitle {
  border: 0;
  background-color: #eee;
  position: absolute;
  top: 20px;
  right: 75px;
  padding: 6px 8px;
  .material-icons {
    margin: 0;
    vertical-align: text-bottom;
  }
}

.canvasHelper {
  text-align: center;
  vertical-align: center;
  position: relative;
  color: $naranjaadams;
  width: 100%;
  height: 100%;
  .canvasMessage {
    font-size: 22px;
    position: absolute;
    display: inline-block;
    top: 100px;
    left: 25%;
    width: 50%;
    height: 300px;
    border: 5px dashed $naranjaadams;
  }
}




.drag-handle{}
