@import "../../sass/general/_variables.scss";
@import "../components/canvas/_cv_animations.scss";

.thumb {
  font-size: 16px;
  color: #f87060;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin: auto;
}

.visor .caja {
  border: none;
}

.thumb:hover {
  cursor: pointer;
}

* {
  font-family: 'Ubuntu', sans-serif;
  outline: none !important;
}

::-moz-selection {
  color: white;
  background: $blueprimary;
}

::selection {
  color: white;
  background: $blueprimary;
}

#nav li.active {
  color: red !important;
}
#nav {
  height: 100%;
}


.pills.active {
  opacity: 0.7;
}

#visor *, #truevisor * {
  pointer-events: all !important;
}

#root{
  height:100%;
}

.visor * {
  pointer-events: all !important;
}


//transition code
//-------------------------------

.enter {
  opacity: 0.01;
}

.enter.enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;

}

.leave {
  opacity: 1;
}

.leave.leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.appear {
  opacity: 0.01;
}

.appear.appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.modalVisorContainer {
  //margin: 15px;
  .modal-lg {
    width: 95% !important;
    margin: 0 auto;
    height: 100%;
    .modal-content {
      height: 97%;
      border-radius: 0;
      .modal-header {
        padding: 10px;
        background-color:$greyPanelHeadings;
        color: white;
        .close {
          color: white;
          text-shadow: none;
          opacity: 0.7;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
}
#previewTitle {
  background-color: transparent;
  //font-weight: bold;
}

/********************Sidebar*************************/
#tituloCurso {
  font-size: 16px;
}
#player {
  position:fixed;
  top: 0;
  right: 0;
  padding:0;
  margin:0;
  padding:0;
  border:0;
  z-index: 9999;
}

.playerButton {
  margin:auto;
  border:0;
  border-radius: 0;
  background-color: #777;
  padding: 7px 10px;
  &:hover, &:active, &:focus {
    cursor: pointer;
    color: white !important;
    background-color: $blueprimary !important;
  }
  &:disabled {
    cursor: not-allowed !important;
    background-color: #ddd !important;
  }
  i {
    vertical-align: middle;
    margin: 0;
    width: auto;
    text-indent: 0px;
  }
}

.btn[disabled].btn-primary.playerButton {
    background-color: #ddd !important;
}


.progressBall {
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 0;
  height: 36px;
  width: 14px;
  margin-left: 6px;
 }
/* Toggle Styles */
.visorwrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    min-height: 100%;
    background-color: #555555;
}

.visorwrapper.toggled {
    padding-left: 250px !important;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.visorwrapper.toggled #sidebar-wrapper {
    width: 250px !important;
}

#page-content-wrapper, .page-content-wrapper {
    width: 100%;
    background-color: #9a9a9a;
    position: absolute;
 }

 .pcw_doc {
    padding:0 !important;
 }

.visorwrapper.toggled {
  #page-content-wrapper, .page-content-wrapper {
    position: absolute !important;
    margin-right: -250px !important;
  }
}

/* Sidebar Styles */

.hiddenNavVisor {
  display: none !important;
  opacity: 0;
  overflow: hidden;

 }

#visorNavButton {
  border:0;
  background-color: $greyPanelHeadings;
  border-radius: 5px;
  padding: 15px 7px 10px 2px;
  border-radius: 0 30px 30px 0;
  top: 50%;
  left: 0px;
  z-index: 9999;
  position: absolute;
  opacity: 0.5;
  &:hover, &:active, &:focus {
    color: #777 !important;
    background-color: $grey !important;
    cursor: pointer;
    opacity: 1;
  }
}

.visorNavTooltip {
  position: fixed;
  background-color: white;
  color:#aaa;
  font-size: 10px;
}

.toggleColor{
  color: white !important;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    height:100%;
    width: 250px;
    margin: 0;
    padding: 0;
    height:100%;
    background-color: $grey;
    list-style: none;
    color:white !important;
    overflow: auto;
    li{
      line-height: 35px;
      a{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 0.9em;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(255,255,255,0.2);
        }
        &:active, &:focus {
            text-decoration: none;
        }
        span{
          font-family: 'Ubuntu';
          vertical-align: middle;
        }
        i{
          font-size: 1em;
          vertical-align: middle;
          margin-right: 5px;
        }
        .svgIcon {
          padding: 0 0px;
          margin-right: 5px;
        }
      }
    }
    .sidebar-brand {
        padding: 10px;
        background-color: $blueprimary;
        h1{
          font-size: 1em;
          color: white;
          line-height: initial;
          margin: 0 ;
        }
    }
}
.visorNavListEl {
  list-style: none;
  list-style-type: none;
  font-size: 1em;
  height:auto;
  display:block;
  opacity: 1;
  i {
    vertical-align: middle;
    margin: 0;
    width: auto;
    text-indent: 0px;
  }
}

@media(min-width:768px) {
    .visorwrapper {
        padding-left: 0;
    }
    .visorwrapper.toggled {
        padding-left: 250px !important;
    }
    #sidebar-wrapper {
        width: 0;
    }
    .visorwrapper.toggled #sidebar-wrapper {
        width: 250px !important;
    }
    #page-content-wrapper, .page-content-wrapper {
        position: relative;
        background-color: #9a9a9a;
    }
    .visorwrapper.toggled{
      #page-content-wrapper, .page-content-wrapper {
        position: relative !important;
        margin-right: 0 !important;
      }
    }
}


/*Iframe*/
iframe#visor_iframe{
    background-color: white;
    //background-image: url("https://s-media-cache-ak0.pinimg.com/originals/25/ef/28/25ef280441ad6d3a5ccf89960b4e95eb.gif");
    background-image: url("../../dist/images/spinner.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

li > .selectedNavItemVisor {
  background-color: rgba(255,255,255,0.3) !important;
}

.scrollcontainer {
  display:block;
}

/*.visorwrapper #airlayer,  .visorwrapper #airlayer_cv{
  min-height: 100%;
  min-height: calc(100vh - 135px);
}*/

#canvas, #containedCanvas {
  &.canvasDocClass {
    padding: 10px 8px 0px 8px;
  }

  &.canvasSliClass {
    padding: 33px 8px 33px 8px;
  }
}
.visorwrapper #containedCanvas {
  min-height: 100% !important;
}

.visorwrapper #containedCanvas #airlayer{
  //min-height: 100vh ;
}

.indexElementTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding-right: 10px;

}
.doc, .sli, #maincontent, #airlayer {
  overflow: visible;
}
.cvBackButton {
   z-index:9999;
}

.submitButton {
  background-color: $blueprimarytransparent;
  padding: 5px 25px;
  border-radius: 0;
  border: 2px solid $blueprimary;
  color: $blueprimary;
  font-size: 18px;
  vertical-align: middle;
}

.pageFooter {
  text-align: center; //right;
  margin: 15px;
  margin-bottom: 0px;
  bottom: 0;
  padding-bottom: 15px;
  min-height: 150px;
  line-height: 150px;

}

.pageScore {
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
  padding: 5px 15px;
  border-radius: 3px;
  margin: auto;
  max-width: 50%;
  //position: absolute;
  //right: 20px;
  //top: 50px;
  span {
    font-size: 2.2em;
  }
}

.scorePass {
  color: $detailgreen;
  border: 1px solid $detailgreen;
  background-color: $detailgreentransparent;
}
.scoreFail {
  color: $lightred;
  border: 1px solid $lightred;
  background-color: $lightredtransparent;
}


.hidden {
  display: none;
}
.sli {
  .pageFooter {
    bottom: 0;
    right: 0;
    position: absolute;
    height: auto;
    min-height:1px;
    line-height: 100%;
    width: auto;
    .pageScore{
      position: static;
      max-width: 100%;
    }
  }
}

.printApp #airlayer{
  height: 100%;
}


.arrowSection {
  margin-left: 10px !important;
  margin-right: 2px !important;
}
