node_modules
.idea
dist/bundle.js.map
dist/bundle.js
*.log
webpack.config.js~
*.orig
.sass-cache
dali_server/config.json
dist/src/*
dist/js/*
dist/plugins
dist/exercises/*
dist/css/default.css
dist/css/ejercicios.css
dist/css/style.css
*.map
