node_modules
nbproject
.idea
dist/*bundle.js
dist/js/*bundle.js
dist/prod/*
*.log
webpack.config.js~
*.orig
.sass-cache
dali_server/config.json
dali_server/node_modules
doc/esdoc
doc/jsdoc
doc/dist/doc-bundle.js
*.map
nbproject
dist/lib/scorm/scorm.zip
dist/lib/visor/dist.zip
.stylelintrc.json