
.default{
    font-family: 'Ubuntu', sans-serif;
}
.orange{
    font-family: 'Merriweather', serif;
}
.test0{
    font-family: 'Indie Flower', cursive;
}
.test1{
    font-family: 'Merriweather', serif;
}
.test2{
    font-family: 'Indie Flower', cursive;
}
.test3{
    font-family: 'Anton', sans-serif;
}
.test4{
    font-family: 'Lobster', cursive;
}
.test5{
    font-family: 'Amatic SC', cursive;
}
.test6{
    font-family: 'Great Vibes', cursive;
}
.test7{
    font-family: 'Orbitron', sans-serif;
}
.test8{
    font-family: 'Poiret One', cursive;
}
