@import "../../../../../sass/general/variables";

#ImportFileModal{
  .highlight{
    color: $blueprimary;
    font-weight: normal;
  }
  .modal-dialog{
    min-width: 780px;
  }
}
.gcModalBody, .pdfFileDialog{
    h2{
      font-size: 1.1em;
      font-weight: bold;
      margin: 0;
    }
    .fileLoaded{
      margin-bottom: 10px;
    }
    .form-group{
      .radio-inline{
        width: 100%;
        margin: 8px 0;

      }
    }
  }


.previewVideoModal.modal.in {

  .modal-dialog {
    margin-top: 30px;
    transform: translateY(100px);
    .codePreview {
      overflow: auto;
      max-height: 300px;
    }
  }
}

.previewButton {
  height: 30px;
  width: 33px;
  padding: 3px 8px;
  font-size: 18px;
  background-color: $blueprimary;
  border: none;
  color: white !important;
  i {
    font-size: 18px;
  }
  &:hover, &:active, &:focus {
    background-color: $blueprimary !important;
    color: white !important;
    outline: none !important;
    i {
      transform: scale(1.3);
    }

    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
