$blueprimary: #17CFC8;
.moodleDialog{
  height: 100%;
  font-size: 0.85em;
  form {
    height: 100%;

    .moodleTable{

      height: 100%;

      & > .row {
        height: calc(100% - 4em);

        & > div {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .container{
            width: 100%;
          }
        }
      }
      .icon-user {
        //@extend .fa;
        //@extend .fa-user;
      }

      .d3Options, .d3Axes {
        padding-left: 2.5em;
      }

      .form-group div p {
        font-weight: bold;
      }

      .svgContainer {
        padding: 0px;
        position: fixed;
        right: 2.7em;
        z-index: 10;
      }

      .tableContainer > .container {
        width: 100% !important
      }

      .tableContainer > .container > .row > div > div {
        text-align: left;
      }

      .table {
        margin-bottom: 1.2em;
        border-collapse: collapse;
      }

      .form-control {
        height: 2.2em;
        padding: 0.4em 0.9em;
        font-size: 1em;
      }

      .container {
        padding-right: 1em;
        padding-left: 0em;
        margin-right: auto;
        margin-left: auto;
      }

      .pagination {
        margin: 1.2em 0;
      }

      .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
        background-color: $blueprimary;
        color: white;
      }

      .pagination > li > span {
        color: $blueprimary;
        border-color: #ddd;
      }

      .pagination > li > a {
        color: $blueprimary;
      }

      .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
        border-color: #ddd;
      }

      .pagination li {
        margin-left: 0px;
        width: 2.5em;
        svg {
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: grey;
        }
      }

      .pluginconfig .modal-body {
        overflow-y: auto;
        h4 {
          margin-bottom: 1em !important;
        }
        .options-table {
          padding: 1.2em !important;
          .mycb {
            margin: 0.3em;
          }
        }

      }

      .wholebox .tableContainer * {
        pointer-events: none !important;
      }

      .form-horizontal .checkbox.mycb {
        min-height: 1.1em;
        padding-top: 0px;
        vertical-align: middle;
      }

      .chartContainer * {
        cursor: not-allowed;
      }

      #previewOverlay {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: not-allowed;
        top: 0;
        left: 0;
        //pointer-events: none;
      }

      .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 0.4em 0.9em;
        margin-left: -0.1em;
      }

      @media (min-width: 576px) {
        #thirdCol {
          padding-left: 1.5em;
          padding-right: 1.5em;

        }
      }

      .table {
        svg {
          width: 1em;
          height: 1em;
          vertical-align: middle;
        }
      }

      .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
        padding: 0.4em;
        line-height: 1.42857em;
        vertical-align: top;
        border-top: 0.07em solid #ddd;
        text-overflow: ellipsis;
      }

      .table > tbody > tr > td:first-child {
        text-align: center;
        width: 5%;
        line-height: 1.5em;
        max-height: 1.5em;

      }

      .table > tbody > tr > td:nth-child(2) {
        width: 80%;
        line-height: 1.5em;
        max-height: 1.5em;
        text-overflow: ellipsis;
      }

      .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 1em;
        padding-left: 1em;
      }

      .row {
        margin-right: -1em;
        margin-left: -1em;
      }
    }

  }
}
