@import "../../sass/general/_variables.scss";

$newBlue: #1fc8db;

.thumb {
  font-size: 16px;
  color: #f87060;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin: auto;
}

.thumb:hover {
  cursor: pointer;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  outline: none !important;
}

::-moz-selection {
  color: white;
  background: $newBlue;
}

::selection {
  color: white;
  background: $newBlue;
}

#nav li.active {
  color: red !important;
}
#nav {
  height: 100%;
}


.pills.active {
  opacity: 0.7;
}

#visor *, #truevisor * {
  pointer-events: all !important;
}

#root{
  height:100%;
}

.visor * {
  pointer-events: all !important;
}

.modal-open .modal{
  overflow-y: hidden;
}

.modalVisorContainer {
  //margin: 15px;
  .modal-lg {
    width: 85% !important;
    margin: 0 auto;
    height: 100%;
    .modal-content {
      height: 97%;
      border-radius: 0;
      .modal-header {
        padding: 10px;
        background-color:$greyPanelHeadings;
        color: white;
        .close {
          color: white;
          text-shadow: none;
        }
      }
    }
  }
}

#previewTitle {
  background-color: transparent;
  font-weight: bold;
}


/********************Sidebar*************************/

#player {
  position:fixed;
  top:0;
  right:0;
  padding:0;
  margin:0;
  padding:0;
  border:0;
  z-index: 9999;
}

.playerButton {
  width:35px;
  height: 35px;
   margin:auto;
  border:0;
  background-color: #777;
  &:hover, &:active, &:focus {
    cursor: pointer;
    color: white !important;
    background-color: $newBlue !important;
  }
  &:disabled {
    cursor: not-allowed !important;
    background-color: #ddd !important;
  }
}

.btn[disabled].btn-primary.playerButton {
    background-color: #ddd !important;
}

/* Toggle Styles */


.visorwrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    min-height: 100%;
    background-color: #555555;
}

.visorwrapper.toggled {
    padding-left: 250px !important;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.visorwrapper.toggled #sidebar-wrapper {
    width: 250px !important;
}

#page-content-wrapper {
    width: 100%;
    background-color: #555555;
    position: absolute;
    padding: 15px;
 }

 .pcw_doc {
    padding:0 !important;
 }

.visorwrapper.toggled #page-content-wrapper {
    position: absolute !important;
    margin-right: -250px !important;
}

/* Sidebar Styles */



.visorNavListEl {
  list-style: none;
  list-style-type: none;
  height:auto;
  display:block;
  opacity: 100%;
  
  i {
    vertical-align: middle;
    margin:0;
    width:auto;
    text-indent:0px;
  }
}

li.visorNavListEl {
  //border-bottom: 1px solid white;
}

.hiddenNavVisor {
  display: none !important;
  opacity: 0%;
  overflow: hidden;
 
 }

#visorNavButton {
  border:0;
  background-color: transparent !important;
  color: $newBlue;
  border-radius: 5px;
  padding:2px 2px 0px 2px;
  top:18px;
  left: 6px;
  z-index: 9999;
  position:fixed;
  &:hover, &:active, &:focus {
    color: #777 !important;
    cursor: pointer;
    background-color: transparent !important;
    opacity: 50% !important;
  }
}

.visorNavTooltip {
  position: fixed;
  background-color: white;
  color:#aaa;
  font-size: 10px;
}

.toggleColor{
  color: white !important;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    height:100%;
    background-color: $newBlue;
    list-style: none;
    color:white !important;
    overflow: auto;
}

ul.sidebar-nav  {
  height:100%;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 22px;
    line-height: 60px;
    padding-left: 14px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
    font-weight: bolder;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    .visorwrapper {
        padding-left: 0;
    }

    .visorwrapper.toggled {
        padding-left: 250px !important;
    }

    #sidebar-wrapper {
        width: 0;
    }

    .visorwrapper.toggled #sidebar-wrapper {
        width: 250px !important;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        background-color: $fondo;
    }

    .visorwrapper.toggled #page-content-wrapper {
        position: relative !important;
        margin-right: 0 !important;
    }
}

/*Scrollbar*/
.visorwrapper *::-webkit-scrollbar-track {
  background-color: $newBlue;
  border:0;

}
.visorwrapper *::-webkit-scrollbar-thumb {
    background-color: #ddd;
}
.visorwrapper *::-webkit-scrollbar-thumb:hover {
    background-color:  #ddd;
    opacity: 50%;
}

/*Iframe*/
iframe#visor_iframe{
    background-color: white;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/25/ef/28/25ef280441ad6d3a5ccf89960b4e95eb.gif");   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}