@import "../../sass/general/_variables.scss";

.thumb {
  font-size: 16px;
  color: #f87060;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin: auto;
}

.thumb:hover {
  cursor: pointer;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  outline: none !important;
}

::-moz-selection {
  color: white;
  background: #f87060;
}

::selection {
  color: white;
  background: #f87060;
}

#nav li.active {
  color: red !important;
}
#nav {
  height: 100%;
}


.pills.active {
  opacity: 0.7;
}

#visor *, #truevisor * {
  pointer-events: all !important;
}

#root{
  height:100%;
}

.visor * {
  pointer-events: all !important;
}

.modal-open .modal{
  overflow-y: hidden;
}

.modalVisorContainer {
  //margin: 15px;
  .modal-lg {
    width: 85% !important;
    margin: 0 auto;
    height: 100%;
    .modal-content {
      height: 97%;
      border-radius: 0;
      .modal-header {
        padding: 10px;
        background-color:$greyPanelHeadings;
        color: white;
        .close {
          color: white;
          text-shadow: none;
        }
      }
    }
  }
}

#previewTitle {
  background-color: transparent;
  font-weight: bold;
}
