.items_container{
  display: flex;
  .template_item{
    margin: 5px;
  }
}
.template2_item{
    padding: 20px;
    font-size: 2em;
    color: white;
    height: 100%;
}
.lightRed{
  background-color: #ff444d;
}
.lightGreen{
  background-color: #4cff9f;
}
.lightBlue{
  background-color: #65caff;
}
.lightYellow{
  background-color: #ffbf45;
}
