.cke_editable, .boxStyle {
	line-height: normal;
	li {
		margin-left:20px;
	}
	table {
	    border-collapse: collapse;
	}
	background-color: transparent;

}


.cke_editable {
	-webkit-user-select: text;
	user-select: text;
}

