//COLORS
//-------------------------------------
//green
$verdeadams: #133329;
$verdedisabled: rgba(255,255,255,0.5);
$detailgreen: #39B54A;
$verdeoscurogrisaceo: #425D54;
$brand_green: #133329;
//orange
$naranjaadams:#F47920;
$naranjaclaro: #fff6ec; //rgba(244, 121, 32, 0.2);
$brand_orange:#F47920;
//grey
$grisadams: #888;
$grisclaro: #dedede;
$fondo: #555;
$grismedio: #9A9A9A;
$grisoscuro: #111;
$lightgrey: #C4C4C4;
$lightestgrey: #F5F5F5;
$darkest: #2C2C2C;
$grisRibbonPluginNames: #4D4D4D;
$greyNavItemSelected: #545454;
$greyInsidePanels: #545454;
$greyPanelHeadings: #1a1a1a;
$grey: #333;
//white
$darkinput: white;//#999;

//blue
//azul-------------
//$blueprimary: #1fc8db;

//aguamarina--------------
$blueprimary: #17CFC8;

//aguamarina oscuro---------
$blueprimarydark: #0E817D;


$boxborderwidth: 1px;

//HEIGHT
//-------------------------------------
$pestanaHeight: 20px;
