//COLORS
//-------------------------------------
//green
$verdeadams: #133329;
$verdedisabled: rgba(255,255,255,0.5);
$verdeoscurogrisaceo: #425D54;
$brand_green: #133329;
$detailgreen: #39B54A;
$detailgreentransparent: rgba(57, 181, 74,0.1);
//red
$lightred: #e30b0b;
$lightredtransparent: rgba(227, 11, 11,0.1);

//orange
$naranjaadams:#F47920;
$naranjaclaro: #fff6ec; //rgba(244, 121, 32, 0.2);
$brand_orange:#F47920;
//grey
$grisadams: #888;
$grisclaro: #dedede;
$fondo: #555;
$grismedio: #9A9A9A;
$grisoscuro: #111;
$lightgrey: #C4C4C4;
$lightestgrey: #F5F5F5;
$darkest: #2C2C2C;
$grisRibbonPluginNames: #4D4D4D;
$greyNavItemSelected: #545454;
$greyInsidePanels: #545454;
$greyPanelHeadings: #1a1a1a;
$grey: #333;

//white
$darkinput: white;//#999;

//aguamarina--------------
$blueprimary: #17CFC8;
$blueprimarytransparent: rgba(23,207,200,0.1);
$bluemedium: #14b6b0;

//aguamarina oscuro---------
$blueprimarydark: #0E817D;

//box border ---------------
$boxborderwidth: 1px;

//HEIGHT -------------------
$pestanaHeight: 20px;

$enable-print-styles: false;


:root {
  --colorprimarytransparent: rgba(23,207,200,0.1);
  --colormedium: #14b6b0;
  --colorprimarydark: #0E817D;
}
