$verdeadams: #133329;
$grisadams: #888;
$verdedisabled: rgba(255,255,255,0.5);
$grisclaro: #dedede;
$naranjaadams:#F47920;
$fondo: #555;
$pestanaHeight: 20px;
$grismedio: #9A9A9A;
$lightestgrey: #F5F5F5;
$detailgreen: #39B54A;
$darkest: #2C2C2C;
$verdeoscurogrisaceo: #425D54;
$grisRibbonPluginNames: #4D4D4D;
$darkinput: white;//#999;
$greyNavItemSelected: #545454;
$naranjaclaro: #fff6ec; //rgba(244, 121, 32, 0.2);
$greyInsidePanels: #545454;
$greyPanelHeadings: #1a1a1a;
$grisoscuro: #111;

$brand_green: #133329;
$brand_orange:#F47920;
