// React-joyride
.__floater {
  z-index: 9999 !important;
  border-radius: 0 !important;
  &>div>div {
    border-radius: 0px !important;
  }
  .step_text{
    text-align: left;
    color: #999;
  }
  button {
    border-radius: 0px !important;
  }
}
.welcomeModal {
  &.fade:not(.in) {
    -moz-transition: all  1s ease-out;
    -webkit-transition: all  1s ease-out;
    -o-transition: all  1s ease-out;
    transition: all 1s ease-out;
    transform: translate(0,0) !important;
    -webkit-transform:  translate(0,0) !important;
    -ms-transform:  translate(0,0) !important;
    transform:  translate(0,0) !important;
    .modal-dialog {
      transform: translate(50vw,-15vh) scale(0.1);
      -webkit-transform:  translate(50vw,-15vh) scale(0.1);
      -ms-transform:  translate(50vw,-15vh) scale(0.1);
      transform:  translate(50vw,-15vh) scale(0.1);
    }
  }
  .modal-content{
    top: 100px;
    .modal-body {
      padding: 30px;
      .welcomeModalDiv {
        text-align: center;
        color: #999999;
        h1 {
          font-size: 2em;
        }
        h2 {
          font-size: 1.3em;
          font-weight: normal;
        }
      }
    }
  }
}
.tourCloned {
  position: fixed;
  top: 0;
  left: 0;
}
