@import "../../../../sass/general/_variables.scss";

.exportoScormModalBody {
  .radioExportScorm {
    display:block !important;
    margin-left: 15px;
  }
  #previewTitle {
    i {
      font-size: 20px;
    }
  }
  .explanation {
/*      color: #444;
      background-color: #f3f3f3;
      padding: 10px;*/
     color: #999;
  }
   .modal-body {
    font-size: 1em;
     padding-bottom: 0px !important;
    .control-label {
      font-size: 1.2em !important;
    }
  }
}