.exportoScormModalBody {
  .radioExportScorm {
    display:block !important;
    margin-left: 15px;
  }
  #previewTitle {
    i {
      font-size: 20px;
    }
  }
  .explanation {
      color: #444;
      background-color: #f3f3f3;
      padding: 10px;
  }
   .modal-body {
    font-size: 1em;
    .control-label {
      font-size: 1.2em !important;
    }
  }
}