@import "../../../../sass/general/_variables.scss";

.exportoScormModalBody {
  .spinnerFloat {
    position: absolute;
    right: 20%;
    top: 13%;
    width: 75px;
  }
  .radioExportScorm {
    display:block !important;
    margin-left: 15px;
  }
  #previewTitle {
    i {
      font-size: 20px;
    }
  }
  .explanation {
     color: #999;
    .selfContained{
      margin: 20px 0;
      display: flex;
    }
    .forcePageBreak{
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .pageTemplates{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .panel-title a{
    display: block;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background-color: $blueprimary;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .panel-title a:hover {
    display: block;
    cursor: pointer;
    text-decoration: none;
    background-color: $blueprimarytransparent;
  }

  .panel-title a:active {
    display: block;
    cursor: pointer;
    text-decoration: none;
    background-color: $blueprimary;
    color: white;
    font-weight: bold;
  }

  .panel-title a:active:hover {
    display: block;
    cursor: pointer;
    text-decoration: none;
    background-color: $blueprimary;
    color: white;
    font-weight: bold;
  }

  .panel-title .collapsed {
    font-weight: normal;
    background-color: #f1f1f1;
    color: #0d0d0d;
  }

  .panel-default > .panel-heading {
    padding: 0!important;
  }

  .panel-default > .panel-heading:hover {
    background-color: #ececec;
  }

  .print-explanation{
    color: #1d1d1d;
  }
   .modal-body {
    font-size: 1em;
     padding-bottom: 0px !important;
    .control-label {
      font-size: 1.2em !important;
    }
  }
  .betaSub {
    color: $blueprimary;
  }

  .slideRadio {
    margin-left: 25px;
    margin-right: 5px;
  }
}

