@import "../../../../sass/general/_variables.scss";


.radioButtonCustom {
  width: 36px;
  height: 36px;
  margin: 4px;
  padding: 8px;
  border: 0;
  color: #555;
  background-color: $lightestgrey;
  display: inline-block;
  &:hover {
    color: #aaa;
  }
  .material-icons {
    font-size: 20px;
  }
}

/*Alignment*/
.selectedAlignment {
  color: $brand_green;
  &:hover {
    color: #bbb;
  }
}

.unselectedAlignment {
  color: grey;
  &:hover {
    color: #bbb;
  }
}
