

.outter{
	background-color: $fondo;
	height: 100%;
	padding-top: 39px; 

}


.slide {
	height: 100%;
	background-color: white;

}

.outter > .sli{
	
	padding-bottom: 1%;


}

.sli {
	height: 100%;
	background-color: white ;
	margin: 0px 100px 0px 100px;  
	overflow-x: hidden;
	overflow-y: hidden;
}
.doc {
	height: 100%;
	background-color: white;
	margin: 0px;  
	overflow-x: hidden;
	overflow-y: auto;
}

.wholebox {
	// border:5px solid transparent;
	}

.title{
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 10px;
	position: relative;
}

.buttonTitle{
	border: 0;
	background-color: #eee;
	position: absolute;
	top:20px;
	right:75px;
}


.canvasHelper {

	text-align: center;
	vertical-align: center;
	position:relative;
	color: $naranjaadams;
	width: 100%;
	height: 100%;

	.canvasMessage {
		font-size: 22px;
		position:absolute;
		display:inline-block;
		top:100px;
		left:25%;
		width: 50%;
		height:300px;
		border: 5px dashed $naranjaadams;
	}
}