/* Índice */
.carList{
	overflow-y: auto;
	height: calc(100% - 60px);
	margin: 4px 0px 0px 0px;
	color: $fondo;
	// padding: 5px;
}


/*Título del componente*/
.carouselListTitle{
	// margin:5px 15px;
	cursor:pointer;
	* { @include animacion(all,0.3s);
		margin:5px;
	}
}

/*Section*/
.expandir {
	width: 30px;
	color: grey;
	background-color: transparent !important;
	border: none !important;
	outline: none !important;
	&:hover, &:active, &:focus, &:selected {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		outline:none;
	}
}

/*Overriding bootstrap*/
.daliCarousel{

	h3,h4{
		&:hover{
			cursor:pointer;
		}
	}
	.open > .dropdown-toggle.btn-default  {
		color:white !important;
	}

	.btn-default, .open > .dropdown-toggle.btn-default  {
		&:focus{
			color:white !important;
		}
	}
}




/*NavItem Selected*/
.selected{
	font-size:13px;
	color: white;
	 background-color: $greyNavItemSelected;
}

/*NavItem NOT Selected*/
.notSelected{
	font-size:13px;
	color: $grismedio;
	&:hover {
		cursor:pointer;

	}
}
/*Each NavItem*/
.navItemBlock {
	padding: 5px;

}


/*Wrapper for the whole component including tab*/
.wrapperCarousel{
	background-color: $darkest;
	margin:0;
	padding: 12px 0px 5px 0px;
	height: 100%;
	overflow-y: hidden;
	width: 100%;
	overflow-x: hidden;
	.material-icons {
		font-size: 18px;
		vertical-align:text-bottom;
		margin-bottom:0;
	}
	.toolbarHide + .courseTitleCarousel{
		display: none;
		visibility: hidden;

	}

}
/*Icon for files*/
.fileIcon{
	padding: 0 6px;
}

/*Título curso*/
.courseTitleCarousel{
	margin-left: 10px;
	color: $grismedio;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

/*Spread tab*/
.pestanaCarousel{
	cursor:pointer;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	text-align: center;
	z-index: 999;
	display: inline-block;
	position: absolute;
	top: 60px;
	left: 100%;
	border-color: transparent;
	border-left-color: $darkest;
	color: #133329;
}
/*Collapsed Carrousel*/
.indiceoculto{
	left:0;
	top:0;
	position:absolute;

}
/*Hide Sections when collapsed*/
.carouseloculto{
	width:0;
}
/*Show Sections when collapsed*/
.carouselshow{
	width:100%;
}

/*Buttons that act upon navItems*/
.carrouselButton{
	border:0;
	padding:1px;
	font-size: 20px;
	color:$grismedio;
	background-color: transparent !important;;
	min-width: 20%;
	border-radius: 0;
	float:none;

	&:hover, &:active{
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		outline:none;
		color: white !important;
		background-color: transparent !important;
	}

}
/******************Dropup*********************/
.pageMenu {

	min-width: 105px;
	background-color: $darkest;

	.dropdown-menu {
		/*Divider inside dropup menu*/
		.divider {
			background-color:$grismedio;
		}

		border-radius: 0;
	}
	/*Menu items*/
	li {
		padding-bottom: 0;
		a {
			padding:5px;
			color: $grismedio;
			&:active {
				color: white !important;
				background-color: transparent;
			}
			&:focus {
				color: white !important;
				background-color: transparent;
			}
			&:hover  {
				text-decoration: none;
				background-color: #444;
				color:white;

			}
		}
	}
	/*Disabled menu items*/
	li.disabled {
		a {
			color: #555;
		}
	}
}

/*Inside DropUp*/
#bottomMenu{
	background-color: #222;
}
/*DropUp Tooltip*/
#bottomMenu::after{
	content:"";
	border:8px solid transparent;
	border-top-color: #222;
	position: absolute;
	margin-top: 5px;
	left:5%;

}



#carouselDropUp{
	width: 100%;
	.dropdown-menu > li > a {
		padding:  0px;

	}
}


 .carouselDropup {
	min-width: 20% !important;
}
/********************************************/

/********* Delete popover******************/
.popoverButton {

	@extend .daliTitleButton;
	margin-top: 10px !important;
	padding: 2px 5px !important;
	width:auto !important;
	height:auto !important;
	border-radius: 0;
}

#popov {
	width:200px;
	border-radius: 0;
	color: $grismedio;

	background-color: $darkest;
	.popover-title{
		color: $naranjaadams;
		border-color: #333;
		border-radius: 0;
		background-color: transparent;
	}
}
#popov.top > .arrow::after{
	border-top-color: $darkest;
}
/***************************************/
