


.carrouselButton{
	
	min-width: 20px;
	width: 25%;

}
.carList{
	overflow-y: auto; 
	height: 92%;
	margin: 4px 0px 0px 0px;
	color: $fondo;
}


.expandir {
	width: 30px;
	background-color: transparent !important;
	border: none !important;
	outline: none !important;
	&:hover, &:active, &:focus, &:selected { 
		-webkit-box-shadow: none !important;
	     box-shadow: none !important;
	     -moz-box-shadow: none !important;
	     outline:none;
	   }
}
.daliCarousel{
	.row {
		// z-index:2 !important;
	}
	 h3,h4{
	 	&:hover{
	 		cursor:pointer;
	 	}
	 }
}

.breadcrumb a{
	color: $verdeadams;
}

.selected{
	color: $verdeadams;
}

.notSelected{
	color: #555;
}

.wrapperCarousel{
	background-color: $grisclaro;
	margin:0;
	padding: 42px 0px 15% 0px;
	 height: 100%; 
	 overflow-y: auto;
	 width:100%;
	 overflow-x:hidden;
}
.pestanaCarousel{
	background-color: #dedede;
	width:35px;
	height: 35px;
	padding:5px;
	text-align: center;
	z-index: 999;
	display:inline-block;
	position: absolute;
	top:299px;left:100%;
	border-radius:0px  8px  8px 0px ;
	color: $verdeadams;
}

.indiceoculto{
	left:0;
	top:0;
	position:absolute;
}
.carouseloculto{
	width:0;
}
.carouselshow{
	width:100%;
}
#indice{
	padding-left:10px;
	padding-right:10px;	
}
#colLeft{
	
	z-index:1;
}
