


.carrouselButton{
	border:0;
	padding:1px;
	font-size: 16px;
	color:white;
	background-color: transparent;
	min-width: 20%;
	border-radius: 0;
	&:hover, &:active, &:focus, &:selected { 
		-webkit-box-shadow: none !important;
	     box-shadow: none !important;
	     -moz-box-shadow: none !important;
	     outline:none;
 		color: $naranjaadams;
 		background-color: transparent !important;
	}

}
.carList{
	overflow-y: auto; 
	height: calc(100% - 40px);
	margin: 4px 0px 0px 0px;
	color: $fondo;
	padding: 5px;
}

.carouselListTitle{
	margin:5px 15px;

	height:10px;
		* {
			margin:6px;
		}
}
.toolbarSpread {
	color: $naranjaadams;

}
.toolbarHide {
	color: $grismedio;

}

.expandir {
	width: 30px;
	color: grey;
	background-color: transparent !important;
	border: none !important;
	outline: none !important;
	&:hover, &:active, &:focus, &:selected { 
		-webkit-box-shadow: none !important;
	     box-shadow: none !important;
	     -moz-box-shadow: none !important;
	     outline:none;
	   }
}
.daliCarousel{
	.row {
		// z-index:2 !important;
	}
	 h3,h4{
	 	&:hover{
	 		cursor:pointer;
	 	}
	 }
}

.breadcrumb a{
	color: $verdeadams;
}

.selected{
	font-size:15px;
	color: white;
	/* background-color: $grismedio; */
}

.notSelected{
	font-size:15px;
	color: $grismedio;
}

.wrapperCarousel{
	background-color: $darkest;
	margin:0;
	padding: 12px 0px 5px 0px;
	height: 100%; 
	overflow-y: hidden;
	width: 100%;
	overflow-x: hidden;
}
.pestanaCarousel{
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    z-index: 999;
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 100%;
    border-color: transparent;
    border-left-color: $darkest;
    color: #133329;
}

.indiceoculto{
	left:0;
	top:0;
	position:absolute;
}
.carouseloculto{
	width:0;
}
.carouselshow{
	width:100%;
}
#indice{
/*	padding-left:10px;
	padding-right:10px;	*/
}
#colLeft{
	 position: relative; 
	 float: left;
	 padding: 0;
	 height: 100%;
	 z-index:1;
}

.pageMenu {
 	a:hover  {
		text-decoration: none;
		color: $naranjaadams !important;
	}
}

.dropdown-custom-2{
	min-width: 20%;
	.dropdown-menu > li > a {
     padding:  0px;
 

    }	
}