


/*Each title mode button*/
.daliTitleButton {
	@extend .ribShortcut;
	background-color: $grismedio !important;
	color:white !important;
	text-align: center;
	&:hover {
		background-color: $naranjaadams !important;
	}
}
/*Container for all buttons*/
#daliTitleButtons {
	text-align: center;
}

/*Current title mode*/
.activeTitle{
	background-color: $darkest !important;

}

/*Breadcrumb style*/
.breadcrumb a{
	color: $verdeadams;
}

/*Added transparent margin to avoid small shift when title is selected*/
.caja{
	border: 1px solid transparent;
}

/*DaliTitle is on config mode*/
.selectedTitle {
	// border: 1px dashed grey;
}
