/***************Name of every navitem ****************/
/*Input*/
.editSectionTitle {
	width: 40%;
	height:19px;
	border-box:0;
	-moz-border-box:0;
	border-radius:0;
	display: inline-block;
	border:0;
	padding:0;
	vertical-align: top;
	font-size: 13px;
	line-height: 1em;
	border:0;
	box-shadow: none;
	-moz-box-shadow:none;
	&:focus {
		border:0;
		box-shadow: none;
		-moz-box-shadow:none;
	}
}

.editTitle {
	width: 75%;
	border-box:0;
	-moz-border-box:0;
	border-radius:0;
	display: inline-block;
	border:0;
	padding: 10px;
	//vertical-align: top;
	font-size: 13px;
	line-height: 1em;
	border:0;
	box-shadow: none;
	-moz-box-shadow:none;
	&:focus {
		border:0;
		box-shadow: none;
		-moz-box-shadow:none;
	}
}


/*Title on read mode*/
.actualSectionTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: ltr;
  width: auto !important;
  max-width: 50%;
  display: inline-block;
	line-height: 1.2em;
	vertical-align: middle;
}
