
/*******************Edit configuration advanced icon**********************/
/*Icon*/
.gridconficons {
	height: auto;
	width: auto;
	font-size: 14px;
	border-radius: 0px;
}

/*Input Addon*/
.gc_addon {
	border-radius: 0px;
	border:0;
	background-color: white;
	cursor:pointer;
 
}

/******************GRID LAYOUT*******************/
/*Container*/
.configurator {
	width: 90%; 
	height: 100px;
	background-color: grey;
	word-wrap:none;
	overflow:hidden; 
	border: 1px solid white;
}

/*Columns*/
.gc_columns {
	display: inline-block;
	height: 100%; 
}

/*Rows*/
.gc_rows {
	border: 2px solid white;
	width: 100%;
	background-color: $naranjaadams;
}

#advancedrows, #advancedcols {
	background-color: $darkest;
	color: white;
	.popover-title{
		background-color: $darkest;
		color: $naranjaadams;
		border:0;
		border-radius: 0;
	}
	border-radius: 0;
	.form-control {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		// border: 1px solid $naranjaadams;
		border-radius: 0;
		border:0;
		background-color: $darkinput;
		&:active,&:focus {
			border-color: orange;
		}
		color:black;
	}
	.arrow::after{
		border-bottom-color: $darkest;
	}
}