.navBar{
	background-color: $verdeadams;
 
 
	height: 39px;
	z-index: 99999999 !important;
}

#iconBar{
	z-index: 999 !important;
	whiteSpace: nowrap;
}

.indentmin{
	padding-left: 20px !important;
}
.indentmax{
	padding-left: 250px !important;
}

.navButton{
	 display: inline-block;
	 border: none;
	 color: white;
	 border-radius: 0px;
	 -webkit-border-radius: 0;
	 -moz-border-radius: 0;
	 width: auto;
	 height: auto;
	 width:50px;
	 font-size: 20px;
	 height:35px;
	 padding: 0px 0px 0px 0px;
	 background-color: $verdeadams;
     box-shadow:none;
     vertical-align: middle;
	 &:hover, &:active{
		 border-bottom: 0px solid $grisclaro;
		 background-color: $verdeadams;
		 -webkit-box-shadow: none;
         box-shadow: none;
         color:grey;
	}	
}

.navButtonPlug{
	@extend .navButton;
	width:auto;
	padding: 0px 9px;
}

.navButtonPlug.active{ 
	color:$naranjaadams !important; 
	background-color: $verdeadams;
}

button[disabled].navButton {
	background-color: $verdedisabled;
	border:none;
	color:$verdeadams;
	height:39px;
    box-shadow:none;
	&:hover{
			background-color: $verdedisabled;
			font-weight:normal;
	}
}

.nav_but {
	margin:0px 0px;
}

.hideonresize{
	font-size: 12px;
	vertical-align: middle;
	margin:auto;
}

.rib{
	display: inline-block;
	font-size: 14px !important;
	border-radius: 0;
	height:100%;
	background-color: transparent;
	border:none;
	color:$verdeadams;
	&:hover{
		background-color: transparent !important ; 
		color:white ;
		box-shadow: none !important;
	}
	transition: all 0.5s linear;
}

.ribdrag{
	color:$verdeadams;
	&:hover{
		color:$verdeadams !important ;
	}
}

@media screen and (max-width: 1147px) {
	.hideonresize{
		display: none;
	}
	.navButtonPlug{
	 width:50px;
	 padding:0;
	  .active{ color:white !important;}
	}
}

#ribbon{
	// overflow-x:auto;
	background-color:$naranjaadams;
	height:60px;
	// position: absolute;
	
	padding:0;
	z-index:0;
	// margin-left: -15px;
}

.conmargen{
	margin-left:-15px;
}

.sinmargen{
	margin-left: 0px;
}
