



.navBar{

	background-color: $verdeclaro;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 39px;
}



.navButton{
	 display: inline-block;
	 border: 1px solid $verdeclaro;
	 color: white;
	 border-radius: 0;
	 -webkit-border-radius: 0;
	 -moz-border-radius: 0;

	 width: auto;
	 height: auto;
	 width:100px;
	 font-size: 16px;
	 height:39px;
	 padding: 0px 0px 0px 0px;
	 background-color: $verdeclaro;


    box-shadow:none;
	&:hover, &:active, &:focus{
		 border:1px solid $verdeclaro;
		 border-bottom-color: white;
		 color: white;
		 background-color: $verdeclaro;
		 -webkit-box-shadow: none;
          box-shadow: none;
          font-weight:bold;
 

	}

 	
}



button[disabled].navButton {
	background-color: $verdeoscuro;
	border:1px solid $verdeoscuro;

    box-shadow:none;
	&:hover{
			background-color: $verdeoscuro;
			border:1px solid $verdeoscuro;
			font-weight:normal;
	}
}

