.navBar{
	background-color: $lightestgrey;
	height: 60px;
	z-index: 99999999 !important;
}

#iconBar{
	z-index: 999 !important;
	whiteSpace: nowrap;
}

.indentmin{
	padding-left: 20px !important;
}
.indentmax{
	padding-left: 250px !important;
}

.navButton{
	 display: inline-block;
	 border: none;
	 color: white;
	 border-radius: 0px;
	 -webkit-border-radius: 0;
	 -moz-border-radius: 0;
	 width: auto;
	 height: auto;
	 min-width:50px;
	 font-size: 20px;
	 height:60px;
	 padding: 0px 0px 0px 0px;
	 color:#425D54;
	 background-color: $lightestgrey;
	 -webkit-box-shadow: none;
	 -moz-box-shadow: none;
 	 box-shadow: none;
     vertical-align: middle;
	 &:hover, &:active{
		 border-bottom: 0px solid $grisclaro;
		 background-color: $lightestgrey;
		 -webkit-box-shadow: none;
		  -moz-box-shadow: none;
         box-shadow: none;
         color: $detailgreen;
	}	
}


button[disabled].navButton {
	background-color: $verdedisabled;
	border:none;
	color:#ddd;
	height:60px;
    box-shadow:none;
	&:hover{
			background-color: $verdedisabled;
			font-weight:normal;
	}
}

.nav_but {
	margin:0px 0px;
}

.hideonresize{
	font-size: 12px;
	vertical-align: middle;
	margin:auto;
}



.conmargen{
	margin-left:-15px;
}

.sinmargen{
	margin-left: 0px;
}

#dropdown-menu{
	margin-left: -30px;
	width:70px;
	.navButton{
        font-size: 12px;
    }
}
.dropdown-menu{
	right:0;
	left:auto;
	.disabled .dropdownButton{ 
		color:#aaa;
	}


}

.dropdown-menu {
    min-width: 90px;
    left: 0px;
	
}


.dropdownButton{
	 display: block;
	 border: none;
	 border-radius: 0px;
	 -webkit-border-radius: 0;
	 -moz-border-radius: 0;
	 width: auto;
	 height: auto;
	 font-size: 15px;
	 padding: 0px 0px 0px 0px;
	 color:#425D54;
	 background-color: transparent;
	 -webkit-box-shadow: none;
	 -moz-box-shadow: none;
 	 box-shadow: none;
     vertical-align: middle;

 
}