/*Whole navbar row*/
.navBar{
	background-color: $lightestgrey;
	height: 60px;
	z-index: 99999999 !important;
}

/*Navbar Component*/
#iconBar{
	z-index: 999 !important;
	#dropdown-menu{
		margin-left: -30px;
		width:70px;
		.navButton{
	        font-size: 12px;
	    }
	}
	.dropdown-menu{
		border-radius:0;
		right:0;
		left:auto;
		.disabled .dropdownButton{ 
			color:#aaa;
		}
	}
}
/*Buttons at right of navBar*/
.navButton{
	display: inline-block;
	border: none;
	color: white;
	border-radius: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	width: auto;
	height: auto;
	min-width:50px;
	font-size: 20px;
	height:60px;
	padding: 0px 0px 0px 0px;
	color: $verdeoscurogrisaceo;
	background-color: $lightestgrey;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
 	box-shadow: none;
    vertical-align: middle;
	&:hover, &:active{
		border-bottom: 0px solid $grisclaro;
		background-color: $lightestgrey;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
        box-shadow: none;
        color: $detailgreen;
	}	
	.material-icons{
		vertical-align: middle;
	}
}

/*Disabled buttons in navbar*/
button[disabled].navButton {
	background-color: $verdedisabled;
	border:none;
	color:#ddd;
	height:60px;
    box-shadow:none;
	&:hover{
			background-color: $verdedisabled;
			font-weight:normal;
	}
}

/*****************Course title******************/
/*Gap for course title*/
.navBarSpace {
	height: 100%;
	padding-left: 20px;
	display: inline-block; 
	width:25%;
 	overflow:hidden;
	font-size: 20px;
	vertical-align: middle;
	line-height: 20px;
}

/*Editable course title*/
.tituloCurso{
	margin-left: 10px;
 	line-height: 25px;
	width:calc(90% - 20px);
	height:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
    direction: ltr;
	&:focus {
    	text-overflow: clip;
	}
	&:not(:focus) {
	    text-overflow: ellipsis;
	}
}
/*************************************************/

/*Plugin buttons: Image, Text, Multimedia...*/
.navButtonPlug{
	@extend .navButton;
	width:auto;
	min-width: 80px;
	padding-left: 7px;
	padding-right: 7px;
	margin: 0px 0px;
	.material-icons{
		vertical-align: middle;
	}
	&.active{
		color:white !important; 
		background-color: $grismedio;
		&:after  {	 
			border-bottom: 8px solid $naranjaadams;
		}
	 }
}

/****Make navbar icons fit into smaller screens****/
.hideonresize{
	font-size: 12px;
	vertical-align: middle;
	margin:auto;
}

@media screen and (max-width: 1147px) {
	.hideonresize{
		display: none;
	}
	.navButtonPlug{
		min-width: 55px;
		width: auto;
		padding:5px;
	 	.active{ 
	  		color:white !important;
	  	}
	}
}

@media screen and (max-width: 700px) {
	.hideonresize{
		display: none;
	}
	.navButtonPlug{
		min-width: 15px;
		width: auto;
		padding:5px;
	 	.active{ 
	  		color:white !important;
	  	}
	}
}
/****************************************************/
 




/***********Menu desplegable*****************/ 

.dropdownButton{
	
	display: inline-block;
	text-align: left;
	border: none;
	border-radius: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	width: 100%;
	height: auto;
	font-size: 12px;
	padding: 3px 12px;
	color:$grismedio;
	&:hover{color:white;}
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	vertical-align: middle;
	.material-icons {
		font-size: 15px;
		vertical-align:text-bottom;
	}
 
}


 #topMenu::after {
	content:"";
	border:8px solid transparent;
	border-bottom-color: $darkest;
	position: absolute;
	margin-top: -15px;
	right:25px;
	top:0%; 
 
}

 /******************************************/