.pageModal{
  button{
		border-radius: 0;
	}
	.modal-body{
		max-height:500px;
		overflow-y: auto;
		max-height: 70vh;
    button{
  		margin-top: 30px;
  	}
    .form-control{
      border-radius: 0;
    }
    .control-label{
      margin: 5px 0;
      padding: 0;
      font-size: 1em;
      color: $grisoscuro;
    }
	}
   .modal-content{
      min-height: 50px;
    	border-radius: 0;
  	}
    .modal-header {
	    border-radius:0;
	    font-size: 1.1em;
	    color: white;
      background-color: $greyPanelHeadings;
      .modal-title{
        margin: 0;
        padding: 2px;
      }
  	}
  	.modal-footer{
      border: none;
  		button{
  			background-color: $greyPanelHeadings;
  			color: white !important;
  			border: none;
  			&:hover{
  				background-color: $naranjaadams !important;
  			}
  		}
 	}
}

.pluginconfig {
	.form-control {
		border-radius: 0;
 		box-shadow: none;
		-webkit-box-shadow: none;
		&:focus{
			border-color: $naranjaadams;
		}
		margin-bottom: 5px;
	}
	label {
		font-variant: small-caps;
		color: $naranjaadams;
	}
}
