.pageModal{
  	button{
		border-radius: 0;
	}
	.modal-body{
		max-height:500px;
		overflow-y: auto;
		max-height: 70vh;
	}
   .modal-content{
        min-height: 50px;
    	border-radius: 0;
  	}
    .modal-header {
	    border-radius:0;
	    font-size: 18px;
	    color: $naranjaadams;
  	}
  	.modal-footer{
  		button{
  			background-color: #9A9A9A;
  			color: white !important;
  			border:none;
  			&:hover{
  				background-color: $naranjaadams !important;
  			}
  		}
 	}
}

.pluginconfig {
	.form-control {
		border-radius: 0;
 		box-shadow: none;
		-webkit-box-shadow: none; 
		&:focus{
			border-color: $naranjaadams;
		}
		margin-bottom: 5px;
	}
	label {
		font-variant: small-caps;
		color: $naranjaadams;
	}
}