.pageModal{
  button{
    border-radius: 0;
  }
   .modal-content{
      min-height: 50px;
    	border-radius: 0;
  	}

    .modal-header {
      border-radius:0;
      font-size: 1.1em;
      color: white;
      background-color: $greyPanelHeadings;
      margin: -1px;
      .modal-title{
        margin: 0;
        padding: 2px;
      }
      .close {
        color: white;
        text-shadow: none;
      }
  	}
    .modal-body{
      overflow-y: visible;
      padding: 20px;
      .container{
        width: auto;
        h4{
          padding: 0px;
          color: $grismedio;
          display: inline-block;
          margin: 0 20px 5px 0;
        }
        h5{
          color: $blueprimary;
          font-weight: bold;
        }
        hr{
          margin-top: 10px;
          margin-bottom: 10px;
          border: 0;
          border-top: 1px solid #ccc;
        }
        .content-block{
          padding: 10px 15px;
          background: #f1f0f0;

        }
      }

      button{
        //margin-top: 30px;
      }
      .form-control, .Select-control, .input-group-addon, .ReactTags__tagInputField{
        border-radius: 0;
      }
      .miniIcon{
        color: $grismedio;
        float: right;
        opacity: 0.5;
        margin: 5px 0;
        &:hover{
          opacity: 1;
        }
      }
      .control-label{
        margin: 5px 0;
        padding: 0;
        font-size: 1em;
        color: $blueprimary;
      }

    }
  	.modal-footer{
        border: none;
		.btn-primary{
			background-color: $blueprimary;
			&:hover{
				background-color: darken($blueprimary, 7%) !important;
			}
		}
        .btn-secondary{
          background-color: $grisadams;
          &:hover{
            background-color: darken($grisadams, 10%) !important;
          }
        }
		.btn-default{
			background-color: #555;
			&:hover{
				//background-color: darken($greyPanelHeadings, 50%) !important;
              background-color: darken(#555, 10%) !important;
			}
		}
		button{
			color: white !important;
			border: none;
		}
 	}
}

.pluginconfig {
	.form-control {
		border-radius: 0;
 		box-shadow: none;
		-webkit-box-shadow: none;
		&:focus{
			border-color: $blueprimary;
		}
		margin-bottom: 5px;
	}
}
