
/*Plugin Toolbar*/
#insidetools,#tools{
	width: 250px;
}

/*Toolbar wrapper including tab*/
.wrapper{
 	@include animacion(top, 0.3s);
	margin: 0;
    position: fixed;
   	bottom:0;
 

}
/*Wrapper when no box is selected*/
.hiddenWrapper{
	right: 0px;
	visibility: visible;
    background-color:$darkest;
    width: 40px;
}

/*Actual toolbar*/
#tools{
	width: 40px;
	height: 100%;
    background-color: $darkest;
    display:inline-block;
    vertical-align: baseline;
    overflow-x:hidden;
    overflow-y:auto;

    input[type="checkbox"]{
    	padding:0 !important;
    	margin-left:0;
    	position:relative;
    	display:inline-block;
    	line-height: 5px;
    	vertical-align: text-bottom;
    }

    label, .label{
    	margin:0 !important;
    	padding: 0 !important;
    	font-size: inherit;
    	font-weight: normal;

    }

 
    .form-control {
    	height: auto;
    	-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;
    	// border: 1px solid $naranjaadams;
    	border-radius: 0;
    	border:0;
    	background-color: $darkinput;
    	&:active,&:focus {
    		border-color: orange;
    	}
    	color:black;
    }

    input.form-control[type="range"]{
    	background-color: transparent;
    	outline:none;
    }

    .radio{
    	margin-left: 20px;
    }
    .form-group{
    	margin-top: 15px;
    }

    .toolbarButton{
    	border-radius: 0;
    	background-color: #121212;
    	color: white;
    	border:0;
    	margin: 5px;

		/*Edit text button when CKEditor is active */
    	&.textediting {
    		background-color: $naranjaadams;
    	}
    }
}



/*Navigation Tabs*/
.toolbarTabs{
	color: $lightestgrey;
	li {
		padding-bottom: 0;
		a {
			border-color: transparent;
			color: $lightestgrey;
			border-radius:0;	
			padding: 10px 12px;
			&:hover{
				border-color: transparent;
				background-color: transparent;
				color: $naranjaadams;
			}
		}
		
	}

}

/*Pestaña (old)*/
.pestana{
	cursor: pointer;
	width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    z-index: 999;
    display: inline-block;
    position: absolute;
	top:$pestanaHeight;
	right:100%;
  	border-color: transparent;
    border-right-color: $darkest;
    color: #133329;
}


/*Collapsible panel*/
.panelPluginToolbar{
	border:0;
	border-radius:0;
	.toolbarTab{
		color:$naranjaadams;
	}

	a {
		display:block;
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $naranjaadams;
		}

	}
	
	.panel-body {
		border:0 !important;
		background-color: $greyInsidePanels;
		margin-bottom: -6px;
	}
	
	.panel-heading{
		border:0;
		border-radius:0;
		color:$lightestgrey;
		background-color: #121212
	}

	.panel-group, .panel {
	    margin-bottom: 0;
	    border-radius: 0;
	    border: 0;
	}	

}



#insidetools {
	.btn-group, .pluginToolbarMainButton {
		background-color: $darkest;
		border:0;
		color:white;
		font-weight: lighter !important;
	}

	.tablist{
		li{
			.active{
				color: $lightestgrey;
			}
		}
	}

	border-left: 2px solid $darkest;
	border-right: 2px solid $darkest;
}


 /*Toolbar title when spread*/
.toolbarSpread {
	text-align: left;
	font-weight: bold;
	.material-icons{
		font-size: 16px;
	}
	color: white;
	.toolbarTitle{
		font-variant: small-caps;

	}
	.pluginTitleInToolbar{
		margin-left: 34px;
		color: $naranjaadams;
	}

}

 /*Toolbar title when collapsed*/
.toolbarHide {
	margin-top:30px;
	color: $grismedio;
	&:hover{
		color:white;
	}
	.toolbarTitle, .pluginTitleInToolbar { 
		display:none;

	}
 }

.rangeOutput{
	color: $darkest;
	float:right;
	margin-right: 12px;
}