.panelPluginToolbar{

	color:$fondo;
	border-radius: 5px;

	.panel-heading{
		border-radius: 5px;
	}



	a {
		display:block;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color:$verdeadams;
		}
	}
}

.botones{
	padding:15px;
}
#insidetools,#tools{
	width: 250px;
}

#tools {
	
	input[type="checkbox"]{
		
		padding:0 !important;
		margin-left:0
	}
	label{
			margin:0 !important;
		padding:0 !important;
		font-size: inherit;
		font-weight: bold;
	}
}


.navButtonPlug{
	border-top:2px solid transparent;
	margin-right:-9px;
	&:after  {
		content: '';
		position: relative;
		z-index: 999;
		top: 0;
		left: -50%;
		width: 0; height: 0;
		border: 7px solid transparent;
	}
}

.navButtonPlug.active{
	&:after  {
		border-bottom: 7px solid $naranjaadams;
	}
 }