.buttonPlace{
	position:relative;
	display: inline-block;
	width:auto;
	z-index: 0;
}

.rib{
	position:relative;
	padding: 6px 15px;
	font-size: 14px !important;
	border-radius: 0;
	height:100%;
	background-color: transparent;
	border:none;
	color:$verdeadams;
	&:hover{
		background-color: transparent !important ; 
		color:white ;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
	}
 
}

#ribbonList{
	white-space: nowrap !important;
	margin-left: 15px;
}

#ribbon{
	background-color:$grismedio;
	height:60px;
	padding:0;
	z-index:0;
	overflow-x: hidden;
 }

 
.ribdrag{
	
	color:$verdeadams;
	&:hover{
 
		color:$verdeadams !important ;
	}
}
#insideribbon{
	margin-top:0px;
	right:0;
	overflow-y: hidden;
}
 
#canvas, #maincontent, #canvasRow {
	z-index:0 ;
}

#ribbonRow{
	 overflow-x: auto;
	 overflow-y: hidden;
}

#ribbon {
	 overflow-X:hidden;
	 overflow-Y:hidden;
}
#colRight{
	overflow-x:hidden;
}

