.toolbox{
	height: 100%;
    background-color: rgba(222,222,222,0.8);
    display:inline-block;
    vertical-align: baseline;
}

.pestana{
	background-color: rgba(222,222,222,0.8);
	width:35px;
	height: 35px;
	padding:5px;
	text-align: center;
	z-index: 999;
	display:inline-block;
	position: absolute;
	top:$pestanaHeight;
	right:100%;
	border-radius: 8px 0px 0px 8px;
	color: $verdeadams;
}

.wrapper{
	// vertical-align: baseline;
	margin: 0;
    position: fixed;
   	bottom:0;
   	/*-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-o-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);*/

}

 #tools{
	overflow-x:hidden;
	overflow-y:auto;
 
 }

.panelPluginToolbar{

	color:$fondo;
	border-radius: 5px;

	.panel-heading{
		border-radius: 5px;
	}



	a {
		display:block;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color:$verdeadams;
		}
	}
}
