@import "../../../../sass/general/_variables.scss";
@import "../../../../sass/general/mixins/_mixins.scss";



/*Resize box squares*/
.helpersResizable {
    border: 1px solid #777;
    background-color: white;
    position: absolute;
    z-index: 99999;
}

/*Ediphy Box*/
.boxStyle, .textareaStyle{
    width: 100%;
    height: 100%;
    line-height: normal;
    //font-size: 14px;
}

.boxStyle {
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  pre, pre * {
    word-break: break-all !important;
    white-space: pre-wrap;
  }
}

.textAreaStyle {
    z-index: 999;
    //position: absolute !important;
    position: relative;
    float: left;
    resize: none;
    top: 0%;
    color: black;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    word-wrap: break-word !important;
    pre {
      word-break: break-all !important;
    }
    //word-break: normal;

}
@supports (-ms-ime-align:auto) {
  .textAreaStyle, .boxStyle {
    word-break: break-all;
  }
}
/*Box overlay*/
.boxOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    position: absolute;
    opacity: 0.4;
}

/*Box editing shortcuts*/
#editorBoxIcons, #contained_editorBoxIcons{
  position: absolute;
  text-align: center;
  height: 40px;
  margin-top: -40px;
  .editorTitleButton {
     i{
       vertical-align: top;
     }
    background-color: #bababa !important;
    &:hover {
      background-color: $blueprimary !important;
    }
  }
  @include box-shadow(1px, -1px, 4px, #ccc, $inset: false);
  z-index: 999;
  width: auto;
  background: #f5f5f5;
  border-radius: 2px 2px 0 0;
  .namePlugin{
    color: $grismedio;
    padding: 6px;
    display:none;
    float: left;
    margin: 4px 3px;
  }
  .dtbSelected {
    background-color: $blueprimary !important;
  }
}

.popoverURL{
  width: 400px !important;
  max-width: unset;
  .popover-content{
    display: flex;
    padding: 5px 14px 14px;
    .form-control{
      border-radius: 0;
      flex-shrink: 1;
    }
    .popoverButton{
      margin: 0 !important;
      padding: 2px 10px !important;
      flex-shrink: 1;
    }
  }
}

.selectedBox {
    background-color: rgba(27,177,188,0.1) !important;
    border: $boxborderwidth dashed $blueprimary !important;
    color: $fondo !important;
}

.wholebox, .wholeboxvisor{
    display: inline-block;
    word-break: break-word;
    border: $boxborderwidth solid transparent;
    vertical-align:top;
    word-wrap: break-word;
    .boxStyle{
      overflow: visible;
    }
}

.canvaseditor {
    .wholebox > div > div > iframe, .wholebox > div > div > video {
        pointer-events: none !important;
    }
}

.containerBasicImage, .basicImageClass, .basicVideoClass{
  width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: none;
}

.wholebox a{
  pointer-events: none !important;
}

.basicImageClass, .basicVideoClass{
  left :0px;
  top: 0px;
}
.automaticallySizedBox .basicImageClass{
    position: relative;
}

.norotate {
  -webkit-transform: rotate(0deg) !important; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(0deg) !important;  /* IE 9 */
          transform: rotate(0deg) !important; /* IE 10, Fx 16+, Op 12.1+ */

}

#clone {
  text-align: center;
}
