@import "../../../../sass/general/variables";
@import "../../../../sass/general/mixins/mixins";


.canvasClass, .containedCanvasClass , #canvas, #containedCanvas{
  height: 100%;
  overflow-y: auto;
  width: calc(100% - 40px);
  background-color: #9a9a9a;
}
.canvasDocClass {
  padding: 10px 8px 0px 8px;
}

.canvasSliClass {
  padding: 33px 8px 33px 8px;
}

.scrollcontainer, .outter{
  width: 100%;
  min-height: 100%;
}

.scrollcontainer{
  background-color: white;
}

.margin-left{
  margin-left: 15px !important;
}

.innercanvas {
  height: 100%;
  background-color: white;
  height: calc(100vh - 241px);
}

.innercanvas.sli .caja {
  background-color: transparent;
}


.outter > .sli {
  padding-bottom: 1%;
}

.sli, .doc{
  height: 100%;
  background-color: white;
  overflow: hidden;
}


.doc {
  background-color: transparent;
}
.doc, .sli{
  position: relative;
}

 .doc_air, .slide_air {
  //  min-height: 100%;
  // min-height: calc(100vh - 240px);
  vertical-align: middle;
}

.doc_air{
  height: 100%;
  overflow: hidden;
  z-index: 0;
  visibility: visible;
  background-color: transparent;
  margin: 0px;
  position: relative;
  padding: 0 20px;
}

.buttonTitle {
  border: 0;
  background-color: #eee;
  position: absolute;
  top: 20px;
  right: 75px;
  padding: 6px 8px;
  .material-icons {
    margin: 0;
    vertical-align: text-bottom;
  }
}

.canvasHelper {
  text-align: center;
  vertical-align: center;
  position: relative;
  color: $naranjaadams;
  width: 100%;
  height: 100%;
  .canvasMessage {
    font-size: 22px;
    position: absolute;
    display: inline-block;
    top: 100px;
    left: 25%;
    width: 50%;
    height: 300px;
    border: 5px dashed $naranjaadams;
  }
}

.rotate {
    -ms-transform: rotate(5deg); /* IE 9 */
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform: rotate(5deg) !important; /* Chrome, Safari, Opera */
    -webkit-transform-origin: 0% 0% !important; /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    transform-origin: 0% 0%;
}

.cvBackButton {
  background-color: transparent !important;
  border:0;
  padding:0;
  position: absolute;
  top: 1em;
  right:  1em;
  i.material-icons{
    color: white;
    font-size: 1em;
    background-color: $blueprimary;
  }
  z-index:9999;
}
