@import "../../../../sass/general/_variables.scss";
@import "../../../../sass/general/mixins/_mixins.scss";

/*Whole navbar row*/
.navBar {
  background-color: $lightestgrey;
  height: 60px;
  z-index: 9999999 !important;
}

/*Navbar Component*/
#iconBar {
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  #dropdown-menu {
    width: 70px;
    height:100%;
    .navButton {
      font-size: 12px;
    }
    .hideonresize {
      margin: 5px auto 0;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    right: 0;
    left: auto;
    li > a {
      padding: 0;
    }
    .dropdownButton {
      padding: 7px 16px;
      cursor: pointer;

      &[disabled] {
        color: $lightgrey;
        cursor: not-allowed;
      }
    }
  }
}

/*Buttons at right of navBar*/
.navButtons{
  margin-left: auto;
}

.navButton {
  display: inline-grid;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  min-width: 56px;
  font-size: 20px;
  height: 60px;
  padding: 0 8px;
  background: transparent; //$lightestgrey;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  &:active {
    border-bottom: 0px solid $grisclaro;
    color: white;
    background: $lightestgrey;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &:hover {
    color: $darkest;
    //@include scale(1.1);
  }
  .material-icons {
    align-self: end;
    font-size: 1.1em;
  }

  .hideonresize {
    align-self: start;
  }
}

/*Disabled buttons in navbar*/
button[disabled].navButton {
  border: none;
  color: #ccc;
  box-shadow: none;
  cursor: not-allowed;

}

.navbarButton_publish,.navbarButton_unpublish {
  height: 54px;
  margin: 3px 0;
  background-color: $blueprimary;
  border-radius: 3px;
  color: darkcyan;
  //color: white;
}
/*****************Course title******************/
/*Gap for course title*/
.grad1 {
  height: 60px;
  width: 10px;
  float: left;
  background: linear-gradient(141deg, $blueprimarydark 0%, $bluemedium 51%, $blueprimary 75%);
  color: white;
  opacity: 0.95;
}
.identity{
  width: 202px;
  padding: 10px;
  font-size: 1.8em;
  color: $grey;
  .highlight{
    font-weight: bold;
    color: #14b6b0;
  }
}
.navBarSpace {
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  vertical-align: middle;
  .editIndexTitleIcon {
    font-size: 1em !important;
    margin: 0;
    padding: 4px 16px;
  }
  .actualSectionTitle{
    margin: 10px;
  }
}

/*Editable course title*/
.tituloCurso {
  margin-left: 10px;
  line-height: 25px;
  width: calc(90% - 20px);
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  direction: ltr;
  &:focus {
    text-overflow: clip;
  }
  &:not(:focus) {
    text-overflow: ellipsis;
  }
}

.pluginsMenu{
  width: 40%;
  background-color: $darkest;
}
/*Plugin buttons: Image, Text, Multimedia...*/
.navButtonPlug {
  @extend .navButton;
  cursor: default;
  height: 60px;
  color: white;
  width: auto;
  min-width: 80px;
  font-weight: 400;
  line-height: 1em;
  .material-icons {
    vertical-align: middle;
    align-self: center;
  }
  &.active, &.active:hover {
    background-color: $blueprimary !important;
    color: $darkest;
    font-weight: 600;
  }
  &:hover {
    background-color: $greyPanelHeadings;
    color: white;
    @include scale(1);
  }

  .hideonresize {
    align-self: center;
  }

}

.togglePlugins{
  border: none;
  align-self: center;
  background-color: transparent;
  color: $blueprimary;
  height: 60px;
  float: right;
  padding: 19px 5px;
  .material-icons{
    padding: 0 10px;
    font-size: 1.3em;
  }
}



/****Make navbar icons fit into smaller screens****/

.navButtons {
  .hideonresize {
    font-size: 12px;
    vertical-align: middle;
    margin: 5px auto 0;
  }
}

.navButtonPlug {
  .hideonresize {
    font-size: 12px;
    margin: 5px auto 0;
  }
}
.showonresize{
  display: none !important;
}

.hideonresize {
  font-size: 12px;
}

@media screen and (max-width: 1147px) {
  .hideonresize {
    display: none;
  }
  .showonresize{
    display: block !important;
  }
  .pluginsMenu {
    width:35%;
    .navButtonPlug {
      min-width: 50px;
    width: auto;
    padding: 4px;
    .active {
      color: white !important;
    }
  } }
  .navButton {
    min-width: 50px;
    max-width: 50px;
    .material-icons {
      align-self: center;
    }
  }
}

@media screen and (max-width: 800px) {

  .navButton {
    min-width: 20px;
    max-width: 35px;
  }
  .pluginsMenu {
    .navButtonPlug {
      min-width: 20%;
      max-width:20%;
      width: auto;
      .active {
        color: white !important;
      }
    }
    width: 30%;
    .navButtonPlug {
    }
  }
}

/***********Menu desplegable*****************/

.dropdownButton {
  display: inline-block;
  text-align: left;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  width: 100%;
  height: auto;
  font-size: 12px;
  padding: 3px 12px;
  color: $lightgrey;
  &:hover {
    color: white;
  }
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  .material-icons {
    font-size: 15px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }

}

#topMenu::after {
  content: "";
  border: 8px solid transparent;
  border-bottom-color: $darkest;
  position: absolute;
  margin-top: -16px;
  right: 24px;
  top: 0%;

}
