@import "../../../../sass/general/_variables.scss";
@import "../../../../sass/general/mixins/_mixins.scss";

/*Ribbon column*/
#ribbonRow {
  position: absolute;
  top: 0;
  z-index: 1;
  width: auto;
  background-color: $blueprimary;
  border-radius: 0 0 5px 0px;
  min-width: 430px;
  max-width: 639px;
  height: auto;
}

@media screen and (max-width: 1147px) {
  #ribbonRow {
    min-width: 230px;
  }
}

/*Ribbon Column*/
#ribbon {
  padding: 0;
  z-index: 0;
  overflow: hidden;

}

/***************************************/

/*Plugin name placeholder for dnd*/
.buttonPlace {
  display: inline-block;
  margin: 10px 0 0 10px;
  @include animacion(all, 0.2s);
  &:last-child{
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

/*Ribbon buttons*/
.rib {
  padding: 5px 10px;
  height: 100%;
  font-size: 1em;
  background-color: rgba(255,255,255,0.2) !important;
  color: $darkest;
  border: 1px solid $darkest;
  border-radius: 3px;
  &:hover {
    background-color: white !important;
    color: $blueprimarydark;
    border: 1px solid white;
  }
  .material-icons {
    vertical-align: text-bottom;
    font-size: 18px;
  }
}

/*Plugin class while dragging*/
.ribdrag {
  color: $darkest;
  padding: 10px;
  max-height: 40px !important;
  &:hover {
    color: $darkest !important;
  }
}

/*****************Shortcut buttons*******************/
/*Shortcut buttons container*/
.mainButtons {
  display: inline-block;
  position: absolute;
  height: 100%;
  margin-top: 0px;
  width: 128px;
  right: 0px;
  top: 0;
  padding: 4px;
  background-color: $grismedio;
}

/*Shortcut button*/
.ribShortcut {
  width: 32px;
  height: 32px;
  margin: 4px;
  padding: 8px;
  border: 0;
  color: $verdeoscurogrisaceo;
  background-color: $lightestgrey;
  display: inline-block;
  &:hover {
    color: $detailgreen;
  }
  .material-icons {
    font-size: 16px;
  }
}

/*Disabled button*/
button[disabled].ribShortcut {
  color: #ccc;
}


