@import './../../../../sass/general/mixins/mixins';
@import './../../../../sass/general/variables';
.items_container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .template_item{
    margin: 0.5em;
    border-radius: 0.25em;
    &:hover{
      @include scale(1.05);
      @include animacion(all, 0.2s);
    }
    .template_name{
      position: absolute;
      bottom: -0.25em;
      width: 100%;
      background: $blueprimary;
      padding: 0.2em 0.4em;
      text-transform: uppercase;
      font-size: smaller;
      font-weight: bold;
      color: white;
      display: none;
    }
  }
}
.template2_item{
    padding: 0.5em;
    font-size: 2em;
    &.custom_color{
      color: var(--themeColor7);
    }
    color: white;

    //height: 100%;
}
.bulleted_list{
  font-size: 1.6em;
  line-height: 1.6em;
}

/*.lightRed{
  background-color: #ff444d;
}
.lightGreen{
  background-color: #4cff9f;
}
.lightBlue{
  background-color: #65caff;
}
.lightYellow{
  background-color: #ffbf45;
}*/
