@import "./../../../sass/general/_variables.scss";

.subheader{
  h3, h4, h5, h6{
    color: $naranjaadams;
    padding: 10px;
    margin: 0;
  }
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.1em;
  }
  h5{
  font-size: 1em;
}
}
.title {
  background-color: transparent !important;
}
.breadcrumb {
  padding: 8px 0px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}
