@import "./../../../../sass/general/_variables.scss";
@import './../../../../sass/general/mixins/mixins';
@import "../../canvas/editor_header/editorHeader";
@import "./../../nav_bar/plugin_ribbon/_pluginRibbon.scss";

/* Índice */
.carList {
    overflow-y: auto;
    //height: calc(100% - 300px);
    color: $fondo;
    .material-icons{
        padding: 0 12px 0px 12px;
    }
}

/*Section*/
.expandir {
    color: grey;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    &:hover, &:active, &:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        outline: none;
    }
}

.dragIntoHelper {
    margin-left: 28px;
    border: 4px solid $brand_orange;
    min-height: 28px;
    width: 100%;
}

.expand-element{
    height: 100px;
    width: 100px;
    opacity: 1.0;
    box-sizing: border-box;
    transition: height 500ms 0ms, opacity 500ms 500ms;
}

.expand-element.hide{
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 0.0;
    height: 0px;
}

.classIndexSelected i, .classIndexSelected .actualSectionTitle {
    color: $blueprimary;
}

///*NavItem Selected*/
//.selected {
//    font-size: 0.9em;
//    background-color: #222;
//    color: white;
//    /*.actualSectionTitle{
//        color: $blueprimary;
//    }*/
//}

/*NavItem NOT Selected*/
.notSelected {
    font-size: 0.9em;

    &:hover {
        cursor: pointer;
    }
}
.selected {
    color: $grismedio !important;
}

.classIndexSelected {
    color: $blueprimary !important;
}

/*Each NavItem*/
.navItemBlock {
    color: $grismedio;
    font-size: 0.9em;
    height: 3em;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    .editIndexTitleIcon {
        padding: 4px;
    }
    span{
        display: flex;
        flex-grow: 1;
        overflow-x: hidden;
        cursor: pointer;
        position: relative;
    }
    cursor: pointer;
}

/*Wrapper for the whole component including tab*/
.wrapperCarousel {
    background-color: $darkest;
    margin: 0;
    //padding: 8px 0px 4px 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .material-icons {
        font-size: 1em;
        vertical-align: middle;
        margin: 0;
    }
    .editorCarousel {
        .editIndexTitleIcon {
            font-size: 1em;
            float: right;
            padding: 4px;
        }
        .carouselButton {
            .material-icons {
                font-size: 1em;
            }
            &:hover{
                @include scale(1.2);
            }
        }
    }
    .toolbarHide + .courseTitleCarousel {
        display: none;
        visibility: hidden;
    }
}

/*Icon for files*/
.fileIcon {
    font-size: 10px;
    padding: 0 8px 0px 8px;
}

.svgIcon{
    margin-left: 5px;
    margin-right: 4px;
    width: 2.2em;
    padding: 0 8px;
}
/*Collapsed Carrousel*/
.indiceoculto {
    position: absolute;
    left: 0;
    top: 0;
}

/*Hide Sections when collapsed*/
.carouseloculto {
    width: 0;
}

/*Show Sections when collapsed*/
.carouselshow {
    width: 100%;
}

/*Buttons that act upon navItems*/
.carrouselButton {
    border: 0;
    padding: 2px;
    font-size: 20px;
    color: $grismedio;
    min-width: 20%;
    border-radius: 0;
    background-color: transparent !important;;
    float: none;
    &:hover, &:active {
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        outline: none;
        color: white !important;
        background-color: transparent !important;
    }
}

/*Dropup*/

.pageMenu {
    background-color: $grisoscuro !important;
    margin: 0;
    border-radius: 0;
    padding: 0;

    /*Divider inside dropup menu*/
    .divider {
        background-color: $grismedio;
    }

    /*Menu items*/
    li {
        padding-bottom: 0;
        a {
            padding: 4px;
            color: $grismedio;
            &:active {
                color: white !important;
                background-color: transparent;
            }
            &:focus {
                color: white !important;
                background-color: transparent;
            }
            &:hover {
                text-decoration: none;
                background-color: #444;
                color: white;
            }
        }
    }

    /*Disabled menu items*/

    li.disabled {
        a {
            color: #555;
        }
    }
}

/*Inside DropUp*/

#bottomMenu {
    background-color: #222;
}

/*DropUp Tooltip*/

#bottomMenu::after {
    content: "";
    border: 8px solid transparent;
    border-top-color: $grisoscuro;
    position: absolute;
    left: 5%;
}

#carouselDropUp {
    width: 100%;
    .dropdown-menu > li > a {
        padding: 0px;

    }
}

.carouselDropup {
    min-width: 20% !important;
}

/*Delete popover*/

.popoverButton {
    @extend .editorTitleButton;
    margin-top: 0px !important;
    padding: 2px 4px !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0;
    &:hover {
        background-color: $blueprimary;
    }
}

#popov {
    width: 200px;
    border-radius: 0;
    color: $grismedio;
    background-color: $darkest;
    .popover-title {
        color: $blueprimary;
        border-color: #333;
        background-color: transparent;
    }
}

#popov.top > .arrow::after {
    border-top-color: $darkest;
}


.containedViewsList, .carList {
    -webkit-transition: height .25s  ease-in-out;
    -moz-transition: height .25s  ease-in-out;
    -ms-transition: height .25s  ease-in-out;
    -o-transition: height .25s  ease-in-out;
    transition: height .25s  ease-in-out;
    background-color: #444;
    .empty-info{
      margin: 40px;
      text-align: center;
      color: $grismedio;
      background-color: transparent;
    }
}

.actualSectionTitle {
    cursor: text;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    left: 0;
    width: 90%;
    color:rgb(204,204,204);
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
    line-height: 1.2em;
}
