$material-font-path:  '../../../node_modules/material-design-icons-font/iconfont/';
@import '../../../node_modules/material-design-icons-font/iconfont/material-icons';

body, #root, #root > .container-fluid, #mainRow {
    height:100%;
}

.bsGrid {
    /*padding-top: 90px;*/
}

#nbRow{
    /*position: fixed;*/
    /*width: 100%;*/
}
.selectedNav {
    background-color: #ccc;
    border: none !important;

}

.selectedNav.list-group-item:hover,
.selectedNav.list-group-item:active,
.selectedNav.list-group-item:focus {
    background-color: #ccc;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;

}



.navListItem {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    font-weight: bold;
}

.subItem{
    font-weight: normal;
}

.sidebarTitle {
    font-weight: bold;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    background-color: #ff0033;
    border: 1px solid black;
}

.mainCol {
    /*padding-top: 60px;*/
}

.mainPageBlock {
    text-align: center;
}

.loader {
    margin-top: 100px;
    height: 100%;
    text-align: center;
}

.loader img {
    vertical-align: middle;
}

.navbar, .list-group-item {
    border-radius: 0px !important;
}

pre {
    color: #444;
}

.markdownContainer img {
    max-width: 100%;
    display:block;
    margin:auto;
}


img[alt=Índice], img[alt=Toolbar] {
    float: right;
    margin: 10px;
}

.contentCol {
    padding: 0px 20px 20px 20px;
}

/*Fixed navbar*/
.mainRow {
    margin-top: 70px;
}

nav.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
/***************/