$material-font-path:  '../../../node_modules/material-design-icons-font/iconfont/';
@import '../../../node_modules/material-design-icons-font/iconfont/material-icons';

body, #root, #root > .container-fluid, #mainRow {
    height:100%;
}

.bsGrid {
    /*padding-top: 90px;*/
}

#nbRow{
    /*position: fixed;*/
    /*width: 100%;*/
}
.selectedNav {
    //background-color: white !important;
    margin-bottom: 0px;
    text-decoration: underline;

    //background-color: #ccc;
    //border: none !important;
}
.list-group-item,
button.selectedNav,
button.selectedNav.list-group-item,
button.selectedNav.list-group-item:hover,
button.selectedNav.list-group-item:active,
button.selectedNav.list-group-item:focus,
button.list-group-item:hover,
button.list-group-item:active,
button.list-group-item:focus{
    //background-color: #ccc;
    //color: #165ba8;
    //background-color: transparent !important;
    //border: none ;
    box-shadow: none !important;
    outline: none !important;
    //border-bottom: 1px solid #777 !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: 0px;

}



.navListItem {
    //border: none !important;
    box-shadow: none !important;
    outline: none !important;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    //border-bottom: 1px solid #777 !important;
    border-bottom: none !important;
    text-transform: uppercase;
    font-size: 11px !important;

}

.subItem{
    font-weight: normal;
    //border-bottom: 1px solid #777 !important;
    border-top: none !important;
    border-bottom: none !important;
}

.sidebarTitle {
    font-weight: bold;
    //margin-top: 26px;
    font-size: 18px;
    margin: auto;
    margin-bottom: -20px;
    text-transform: uppercase;
    margin-top: 0px;
    width:90%;
    padding-top: 26px;
    padding-bottom: 15px;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    background-color: #ff0033;
    border: 1px solid black;
}

.mainCol {
    /*padding-top: 60px;*/
}

.mainPageBlock {
    text-align: center;
}

.loader {
    margin-top: 100px;
    height: 100%;
    text-align: center;
}

.loader img {
    vertical-align: middle;
}

.navbar, .list-group-item {
    border-radius: 0px !important;

}

.list-group-item {
    span {
        display:block;
        width:100%;
        height:100%;
        cursor: pointer;

    }
}

.navbar {
    margin-bottom: 0px;
    border:none;
}
pre {
    color: #444;
}

.markdownContainer img {
    max-width: 100%;
    display:block;
    margin:auto;
}


img[alt=Índice], img[alt=Toolbar] {
    float: right;
    margin: 10px;
}

.contentCol {
    padding: 50px;
    padding-top: 10px;
}

#indexCol {
    background-color: #ddd;
    padding: 0px;
  .list-group {
      margin-top: 10px;
      margin-bottom: 0px;
      padding-left: 10px;
  }
    //border-right: 1px solid #333;
    hr {
        margin-top: 5px;
        /* margin-bottom: 20px; */
        border: 0;
        border-style: ridge;
        border-top: 3px solid #93c54b;
        width: 90%;
    }
}


/*Fixed navbar*/
.mainRow {
    //margin-top: 70px;
}

nav.navbar {
    //position: fixed;
    width: 100%;
    z-index: 9999;
}
/***************/

h4, .h4 {
    font-size: 18px;
    font-weight: 500;
}
h5, .h5 {
    font-size: 16px;
    text-decoration: underline;
}

.playground h2 {
    font-size: 18px;
}

.mainRow {
    height: calc(100% - 62px);
    //height: calc(100% - 50px);
}

.mainCol {
    height:100%;
    overflow: auto;
}

.editIcon {
    float: right;
    font-size: 16px;
    margin-top: 20px;
}

.list-group-item {
    padding: 7px 7px;
    border: none;
}

.mainLogo {
    width: 150px;
    float: left;
    margin-right: 30px;
    stroke: #777;
}
@media(max-width:576px){
    .mainCol {
        height:auto;
    }
    .jumbotron {
        text-align: center;
        .mainLogo {
            float: none;
            margin-right: 0px !important;
        }
    }
}
