@import "../../../../sass/general/_variables.scss";
@import "../../nav_bar/plugin_ribbon/_pluginRibbon.scss";

/*Each title mode button*/
.daliTitleButton {
  @extend .ribShortcut;
  background-color: $grismedio !important;
  color: white !important;
  text-align: center;
  &:hover {
    background-color: $blueprimary !important;
  }
}

/*ContainerJS for all buttons*/
#daliTitleButtons {
  text-align: center;
}

/*Current title mode*/
.activeTitle {
  background-color: $darkest !important
}

/*Breadcrumb style*/
.breadcrumb {
  padding: 0;
  li + li:before{
    font-size: 0.5em;
  }
  a {
    margin: 10px 0 0;
    font-size: 0.6em;
    font-family: 'Ubuntu';
    color: $grismedio;
    text-decoration: none;
    &:hover, &:active, &:focus{
      text-decoration: none !important;
      cursor: default;
    }
  }
  li:last-child{
    a{
      color: $blueprimary;
    }
  }

}
/*Added transparent margin to avoid small shift when title is selected*/
.caja {
  border: 1px solid transparent;
  box-sizing: border-box;
}

/*DaliTitle is on config mode*/
.selectedTitle {
  // border: 1px dashed grey;
}


.title {
  display: block;
  background-color: transparent;

  .cab {
    display: flex;
    font-size: 2em;
    padding: 20px;
    .cabtabla_numero{
      padding: 8px;
      line-height: 1em;
      color: $blueprimary;
      font-family: 'Ubuntu', sans-serif;
    }
    h1{
      margin: 10px 0 0;
      font-size: 1em;
    }
    h2{
      margin: 10px 0 0;
      font-size: 0.8em;
      color: $blueprimary;
    }
    h3{
      margin: 10px 0 0;
      font-size: 0.7em;
      color: $grisadams;
    }
    h4{
      margin: 10px 0 0;
      font-size: 0.6em;
      color: $grismedio;
    }
  }
}
/* Information about contained view origin*/

.cvPopover {
  font-size: 12px;
  font-family: 'Ubuntu';
  border-radius: 0;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  outline: none;
  padding: 0;


  .popover-title {
    font-size: 13px;
    background-color: #ddd;
    color: #777;//$blueprimary;
    border: none;
    border-radius: 0;

  }
  .arrow {
    border-bottom: none;
    border-color: transparent !important;
    top: -10px !important;
  }
  .arrow:after{
    border-bottom-color: #ddd !important;
    opacity: 1;
    //border-bottom: none ;
  }
  .popover-content{
    border: none !important;
  }
}

.cvList {
  display: block;
  font-size: 11px;
  font-family: 'Ubuntu' !important;
}

.infoIcon {
  cursor: help;
  font-size: 24px;
  color: #555;
  vertical-align: top;
  margin-left: 5px;
}

