@import "../../../../sass/general/_variables.scss";
/*Ribbon Column*/
#ActionRibbon {
  background-color: $grisclaro;
  -webkit-box-shadow: inset 0px 3px 5px 0px rgba(179,179,179,1);
  -moz-box-shadow: inset 0px 3px 5px 0px rgba(179,179,179,1);
  box-shadow: inset 0px 3px 5px 0px rgba(179,179,179,1);
  height: 60px;
  padding: 0;
  z-index: 0;
  overflow: hidden;
}

#Actions {
  float: right;
}
.ActionBtn {
  height: 40px;
  background-color: transparent;
  border: none;
  margin: 5px;
  padding: 0 5px;
  .material-icons {
    font-size: 16px;
  }
  span {
    display: block;
    margin: -3px 0;
  }
  &:hover{
    color: black;
  }
}

.ActionBtn.active{
  background-color: $blueprimary !important;
  color: white !important;
  border-radius: 3px;
}
#vs {
  //height: 60px;
  width: 5px;
  border-right: 1px solid #999;
}