@import "../../../../sass/general/_variables.scss";

/***************Name of every navitem ****************/
/*Input*/
.editSectionTitle, .editTitle{
  border-box: 0;
  -moz-border-box: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  display: inline-block;
  font-size: 13px;
  line-height: 1em;
  border: 0;
  border-radius: 0;
  &:focus {

    box-shadow: none;
    -moz-box-shadow: none;

  }
}
.editSectionTitle {
  width: 100%;
  height: 20px;
  padding: 0;
  vertical-align: top;
  &:focus{
    margin-right: 10px;
    color: white;
    border-bottom: 1px solid $blueprimarydark;
    background-color: transparent;
  }
  &::selection{
    background-color: $blueprimary;
    color: white;
    font-weight: bold;
  }
}
#coursetit {
  .editSectionTitle{
    height: 35px;
  }
}

.editTitle {
  width: 95%;
  padding: 10px;
}

/*Title on read mode*/
.actualSectionTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  line-height: 1.2em;
  vertical-align: middle;
  margin-right: 25px;
  color: inherit;
}
