@import './../../../../sass/general/mixins/mixins';
@import './../../../../sass/general/variables';

.theme-picker-container{
  .owl-container{
    .owl-item{
      border-radius: 0.2em;
      .item{
        border: 0.1px solid #d2d2d2;
      }
      .toolbar{
        border: none;
      }
      .selected, .selected.toolbar{
        border: 2px solid $blueprimary;
      }
      &:hover{
        //@include scale(1.05);
        @include animacion(all, 0.2s);
      }
    }

    .owl-nav{
      display: flex;
      flex-direction: row;
      button {
        flex: 1;
      }
    }
  }
  .theme-name{
  }
}
