@import "../../../../sass/general/_variables.scss";

.editorBoxSortableContainer{
    min-height: 70px;
    text-align: center;
    line-height: 100%;
    box-sizing: border-box;
    position: relative;
}
.editorBoxSortable{
  overflow: visible; //auto;
}

.dividerBar{
    background: $lightgrey;
    height: 3px;
}

.btnOverBar{
  color: $lightgrey;
  padding: 5px;
  transition: all .2s ease-in-out;
  background: transparent;
  border: none;
  font-size: 1.6em;
  vertical-align: baseline;

  &:hover,&:active, &:focus{
    color: $greyInsidePanels;
    background: transparent;
    cursor: pointer;
    transform: scale(1.3);
  }
}
.dragContentHere{
    color: $greyInsidePanels;
    text-align: center;
    min-height: 100px;
    font-size: 20px;
    border: 2px dashed $greyInsidePanels;
    border-radius: 4px;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.05);
    line-height: 100px;
}
.sortableContainerBox {
  border: $boxborderwidth solid transparent;
}

