@import "../../../sass/general/_variables.scss";
@import "../../nav_bar/plugin_ribbon/_pluginRibbon.scss";

/*Each title mode button*/
.daliTitleButton {
  @extend .ribShortcut;
  background-color: $grismedio !important;
  color: white !important;
  text-align: center;
  &:hover {
    background-color: $naranjaadams !important;
  }
}

/*Container for all buttons*/
#daliTitleButtons {
  text-align: center;
}

/*Current title mode*/
.activeTitle {
  background-color: $darkest !important;

}

/*Breadcrumb style*/
.breadcrumb a {
  color: $verdeadams;
}

/*Added transparent margin to avoid small shift when title is selected*/
.caja {
  border: 1px solid transparent;
}

/*DaliTitle is on config mode*/
.selectedTitle {
  // border: 1px dashed grey;
}

.title {
    display: table-caption;
    background-color: white;
    padding: 0 20px;
    .cab {
      display: flex;
      font-size: 2em;
      .cabtabla_numero{
        padding: 0 10px;
        line-height: 1.1em;
      }
      h1{
        margin: 0;
        font-size: 1em;
      }
      h2{
        margin: 0;
        font-size: 0.7em;
        color: $grismedio;
      }
    }
}
