@import "./../../../../sass/general/_variables.scss";
@import './../../../../sass/general/mixins/mixins';


/*Título del componente*/
.carouselListTitle {
    cursor: pointer;
    color: $grisclaro;
    * {
        @include animacion(all, 0.2s);
    }
    &:hover {
        color: #fff !important;
    }
    .toolbarTitle {
        .material-icons:hover {
            @include rotate(180);
        }
    }
    .material-icons {
        padding: 10px;
        &:hover{@include scale(1.2);}

    }
    .btnToggleCarousel, .btnFullCarousel {
        cursor: pointer;
        color: white;
        background-color: transparent;
        border: none;
        &:hover {
            @include scale(1.2);
        }
    }
    .btnFullCarousel {
        right: 0;
    }
}
