@import "../../../../sass/general/_variables.scss";


.gcModalBody {
	position: relative;
	top: -1px;
	width: 100%;
	height:97%;
	padding: 0px;
	background-color: white;
	overflow-y: auto;
	.form-group{
      .control-label{
        width: 100%;
      }
      .cont_avatar {
        display: flex;
        flexFlow: row nowrap;
        .avatar {
          margin: 0 10px 10px 0;
          border: 1px solid gray;
          max-height: 104px;
          max-width: 250px;
        }
        .fileInput{
          width: 80%;
          margin-bottom: 10px;
          .fileDrag{
            margin: 0;
          }
        }
        button{
          margin-right: 5px;
        }
      }
	}
	.advanced-block{
      background-color: $lightestgrey;
	}
	.control-label {
		color: #444 !important;
	}
   .avatarButtons {
     margin-bottom:3px;
     width: 100%;
   }

}

//tags
div.ReactTags__selected span.ReactTags__tag{
  border-radius: 0 !important;
  color: white !important;
  background-color: $blueprimary !important;
  border: 0 !important;
  height: auto !important;
  padding: 4px 8px !important;
}
div.ReactTags__selected a.ReactTags__remove{
  color: white !important;
  opacity: 0.5 !important;
  &:hover{
    opacity: 1 !important;
    text-decoration: none !important;
  }
}
div.ReactTags__tagInput{
  width: 100% !important;
}


.inputGroup {
	display:inline-table;
	margin-right: 10px;
	width:30%;
}

.miniIcon .material-icons{
	font-size: 18px;
	vertical-align: middle;
	cursor: help;

}

#helpIcon {
  right: 15px;
  position: absolute;
}

textarea#descTA{
    resize: none !important;
}

#outsideInputBox, #insideInputBox {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#insideInputBox {
	height: 5px;
}
#outsideInputBox {
	border: 1px solid #eee;
	height: 7px;
	top:6px;
}

.form-group .Select {
	border: 1px solid #ccc;
  &.select-disabled {
    .Select-value {
      cursor: not-allowed;
      .Select-value-label {
        color: #aaa !important;
      }

    }

  }
	&:focus, .is-focused {
	    border-color: #66afe9;
	    outline: 0;
	    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);

	}
	.Select-control {
		border: none;
	}
}

.aspectRatioGroup {
  display: flex;
  flex-direction: row;
}

.allowance{
  a {
  margin-bottom: 4px;
  }
}

.inlineLabel {
  display: inline;
  margin-right: 10px !important;
}
