@import "../../../sass/_variables.scss";
.daliBoxSortableContainer{
    min-height: 70px;
    text-align: center;
    line-height: 100%;
    box-sizing: border-box;
    position: relative;
}

.dividerBar{
    background: $lightgrey;
    height: 5px;
}

.dragContentHere{
    color: $lightgrey;
    text-align: center;
    min-height: 12px;
    padding: 16px;
    font-size: 20px;
}