@import "../../../sass/_variables.scss";

.sortableMenu{
    width: 100%;
    overflow: hidden;
}

.dividerBar, .iconsOverBar{
    position: absolute;
    bottom: 0;
}

.dividerBar{
    width: 100%;
    height: 5px;
    background: $lightgrey;
}

.iconsOverBar{
    float:left;
}