@import "../../../sass/_variables.scss";
.daliBoxSortableContainer{
    min-height: 70px;
    text-align: center;
    line-height: 100%;
    box-sizing: border-box;
    position: relative;
}

.dividerBar{
    background: $lightgrey;
    height: 3px;
}

.btnOverBar{
  color: $lightgrey;
  padding: 5px;
  &:hover{
    color: $greyInsidePanels;
  }
}
.dragContentHere{
    color: $lightgrey;
    text-align: center;
    min-height: 12px;
    padding: 20px;
    font-size: 20px;
    border: 2px dashed $lightgrey;
    border-radius: 1px;
    margin: 10px; 
}
