@import "./../../../../sass/general/_variables.scss";
@import './../../../../sass/general/mixins/mixins';

//DONT DELETE

/*Section*/
.expandir {
    color: grey;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    &:hover, &:active, &:focus {
        box-shadow: none !important;
        outline: none;
    }
}

.dragIntoHelper {
    margin-left: 28px;
    border: 4px solid $brand_orange;
    min-height: 28px;
    width: 100%;
}

.expand-element{
    height: 100px;
    width: 100px;
    opacity: 1.0;
    box-sizing: border-box;
    transition: height 500ms 0ms, opacity 500ms 500ms;
}

.expand-element.hide{
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 0.0;
    height: 0px;
}

.classIndexSelected i, .classIndexSelected .actualSectionTitle {
    color: $blueprimary;
}

/*NavItem NOT Selected*/
.notSelected {
    font-size: 0.9em;

    &:hover {
        cursor: pointer;
    }
}
.selected {
    color: $grismedio !important;
}

.classIndexSelected {
    color: $blueprimary !important;
}

/*Each NavItem*/
.navItemBlock {
    color: $grismedio;
    font-size: 0.9em;
    height: 3em;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    .editIndexTitleIcon {
        padding: 4px;
    }
    span{
        display: flex;
        flex-grow: 1;
        overflow-x: hidden;
        cursor: pointer;
        position: relative;
    }
    cursor: pointer;
}


/*Icon for files*/
.fileIcon {
    font-size: 10px;
    padding: 0 8px 0px 8px;
}

.svgIcon{
    margin-left: 5px;
    margin-right: 4px;
    width: 2.2em;
    padding: 0 8px;
}
/*Collapsed Carrousel*/
.indiceoculto {
    position: absolute;
    left: 0;
    top: 0;
}

/*Hide Sections when collapsed*/
.carouseloculto {
    width: 0;
}

/*Show Sections when collapsed*/
.carouselshow {
    width: 100%;
}


/*Dropup*/

.pageMenu {
    background-color: $grisoscuro !important;
    margin: 0;
    border-radius: 0;
    padding: 0;

    /*Divider inside dropup menu*/
    .divider {
        background-color: $grismedio;
    }

    /*Menu items*/
    li {
        padding-bottom: 0;
        a {
            padding: 4px;
            color: $grismedio;
            &:active {
                color: white !important;
                background-color: transparent;
            }
            &:focus {
                color: white !important;
                background-color: transparent;
            }
            &:hover {
                text-decoration: none;
                background-color: #444;
                color: white;
            }
        }
    }

    /*Disabled menu items*/

    li.disabled {
        a {
            color: #555;
        }
    }
}

/*Inside DropUp*/

#bottomMenu {
    background-color: #222;
}

/*DropUp Tooltip*/

#bottomMenu::after {
    content: "";
    border: 8px solid transparent;
    border-top-color: $grisoscuro;
    position: absolute;
    left: 5%;
}

#carouselDropUp {
    width: 100%;
    .dropdown-menu > li > a {
        padding: 0px;

    }
}

.carouselDropup {
    min-width: 20% !important;
}



#popov {
    width: 200px;
    border-radius: 0;
    color: $grismedio;
    background-color: $darkest;
    .popover-title {
        color: $blueprimary;
        border-color: #333;
        background-color: transparent;
    }
}

#popov.top > .arrow::after {
    border-top-color: $darkest;
}
