@import "./../../../../sass/general/_variables.scss";

/*bottomLine*/
.bottomLine {
    width: 100%;
    border-top: 1px solid #555;
}

/*bottomGroup*/
.bottomGroup {
    width: 212px;
    position: fixed;
    bottom: 0;
    .material-icons {
        padding: 8px;
    }

    /*Overriding bootstrap*/
    h3, h4 {
        &:hover {
            cursor: pointer;
        }
    }
    .open > .dropdown-toggle.btn-default {
        color: white !important;
    }
    .btn-default, .open > .dropdown-toggle.btn-default {
        &:focus {
            color: white !important;
        }
    }
}

/*Buttons that act upon navItems*/
.carouselButton {
    border: 0;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 19px;
    color: $grismedio;
    min-width: 10%;
    border-radius: 0;
    background-color: transparent !important;;
    float: none;
    &:hover, &:active {
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        outline: none;
        color: white !important;
        background-color: transparent !important;
    }
    &[disabled ]{
        opacity: 0.15;
    }
}
