.drop-active:not(#canvas):not(.daliBoxSortable), .drop-active .dragContentHere {
    border: 1px  dashed #aaa;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.drop-target:not(.daliBoxSortable), .drop-target .dragContentHere {
    background-color: $naranjaclaro;
    border-color: #fff;
    border-style: solid;
    z-index:0;
}


#clone {
    position:absolute;
	color: $verdeoscurogrisaceo;
	border: 2px dashed $verdeoscurogrisaceo;
	background-color: white;
}

/*Resize*/

#sizing {
    position: absolute;
    background-color: $darkest;
    height:20px;
    top:-22px;
    right:0;
    color: white;
    font-size: 0.8em;
    padding:2px;
    width:auto;
    max-width: 100%;
    text-overflow: ellipsis;
     white-space: nowrap;
}