.drop-active {
    border: 1px  dashed #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.drop-target {
    background-color: $naranjaclaro;
    border-color: #fff;
    border-style: solid;
    z-index:0;
}


#clone {
    position:absolute;
	color: $verdeoscurogrisaceo;
	border: 2px dashed $verdeoscurogrisaceo;
	background-color: white;
}