
.drop-active:not(#canvas):not(.editorBoxSortable){
    border: 0;
    box-shadow: inset 0 0 5px 1px lighten($grismedio, 20%);
    transition: background-color 0.3s;
}
.drop-active.drop-target:not(.editorBoxSortable){
    background-color: lighten($grisclaro, 5%);
    border-radius: 4px;
    border-color: #fff;
    border-style: solid;
    z-index:0;
}
.drop-active .dragContentHere {

}
.drop-target .dragContentHere {
  //box-shadow: inset 0 0 5px 1px lighten($grismedio, 20%);
  background-color: lighten($grisclaro, 5%) !important;
  transition: background-color 0.3s;
}
#clone {
  position:absolute;
  color: $blueprimary;
  border: 1px dashed $blueprimary;
  background-color: white !important;
  margin: 0;
}

/*Resize*/
#sizing {
    position: absolute;
    background-color: $darkest;
    height:20px;
    top:-22px;
    right:0;
    color: white;
    font-size: 0.8em;
    padding:2px;
    width:auto;
    max-width: 100%;
    text-overflow: ellipsis;
     white-space: nowrap;
    z-index: 99999;

}
.fileDrag {
    color: #C4C4C4;
    text-align: center;
    min-height: 50px;
    height: auto;
    font-size: 16px;
    border: 2px dashed #C4C4C4;
    border-radius: 4px;
    margin: 20px auto;
    background-color: #f5f5f5;
    line-height: 50px;
    i{
        font-size: 16px;
    }
}
.fileDrag_toolbar{
    color: #C4C4C4;
    text-align: center;
    min-height: 50px;
    height: auto;
    font-size: 0.9em;
    border: 1px dashed #C4C4C4;
    border-radius: 4px;
    line-height: 50px;
}
.fileInput {
    cursor: pointer !important;
    input {
        cursor: pointer !important;
    }
}

.fileUploaded {
    color: #333;
}
